@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/sprites";
@import "compass/typography/links";
@import "compass/utilities/color";
@import "compass/utilities/tables";


$grey: #6c6c6c;
$reddish: #920014;
$brownish: #c6713d;
$accent: #c99065;
$yellowish: rgb(196, 191, 51);
$break-small: 720px;
//$break-medium: 942px;
$break-medium: 1050px;
$break-large: 1280px;

//Importing other stylsheets


@mixin nav_text {
    font: {
        family: 'Open Sans Condensed', sans-serif;
        size: 22px;        
    }
    margin-bottom: 24px;
    margin-left: 25px;
    line-height: 15px;
    letter-spacing: 1px;
    
    img:nth-child(1) {float:left;}
}

@mixin red_buttons {
    text-align: center;
    margin: 5px 10px 10px 10px;
    padding: 2px;
    max-width: 115px;
    border: 2px solid;
    border-radius: 10px;
    color: $reddish;
}

@mixin flex_box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin resume_block {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border: 1px solid;
    border-color:  #c1c1c1;
    width: 500px;
    max-width: 500px;
    margin: 5px 5px 10px 5px;
    letter-spacing: 2px; 
}

@mixin section_heading {
    text-align: center;
    color: #00b0be;
    font-family:  Courier New;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px 5px 20px 5px;
    display: none;
    
    @media screen and (max-width: $break-small) {
        display: block;
        
    }
    
    @media screen and (max-width: $break-medium) {
        display: block;
        
    }
}

@mixin work_block {
    display: inline-block;
    min-width: 300px;
    height: 275px;
    margin: 0px;
    
    @media screen and (max-width: $break-small) {
        width: 300px;
        
    }
    
    @media screen and (max-width: $break-medium) {
        width: 400px;
        
    }
}

@mixin work_hover {
    
    display: inherit; 
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(209, 209, 209, 0.83);
    padding: 5%;
    /* For Safari 3.1 to 6.0 */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;

    /* Standard syntax */
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    
    @media screen and (max-width: $break-medium) {
        opacity: 1;
        
    }
    
    
        
        
            
    span {
        display: block;
        text-align: center;
        font-family: Courier New;
        font-size: 50px;
        font-style: bold;
        line-height: 1.2;
        color: black;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        
        @media screen and (max-width: $break-small) {
           margin-left: 5px;
        
        }
    
        @media screen and (max-width: $break-medium) {
            margin-left: 2px;
        
        }
        
        
        }

    img {
        margin-left: 35%; 
        

        }
    
}




