//------------------------------------------HouseKeeping/Imports Section --------------------------------------------------------------------------
@import "base";
$logo-layout: horizontal;
@import "logo/*.png";
@include all-logo-sprites;

$nav-buttons-layout: horizontal;
@import "nav-buttons/*.png"; 
@include all-nav-buttons-sprites;

@import "spinner.scss";


//-----------------------------------------------HTML Section----------------------------------------------------------------------------------------------

html {
    height:100%;
} 

body {
    /*background: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;*/
    background-color: rgb(247, 245, 245);
    height:100%;
   
} 

a {
    text-decoration: none;
    color: inherit;
    
    &:hover {
        color:inherit;
        }
}



//-------------------- --------------------------------------- Homepage Section ------------------------------------------------------------------------

#homepage_bg {
    height: 100%;
    width:100%;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    @media screen and (max-width: $break-medium) {
        height: 100%;
        width:100%;
        background: url("../images/background_mobile.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;        
    }  
}

#arrow{
    position: absolute;
    left: 50%;
    bottom: 5%;
    
    @media screen and (max-width: $break-medium) {
        left: 40%; 
    } 
    
    @media screen and (max-width: $break-small) {
        display: none; 
    } 
}

.homepage_text {
    max-width: 900px;
    position: absolute;
    top: 80px;
    left: 230px;
    padding: 10px;
    background-color: rgba(129, 129, 129, 0.13);
    border-radius: 30px;
    
    @media screen and (max-width: $break-medium) {
        top: 200px;
        left: 150px;
        background-color: rgba(0, 0, 0, 0.15);
    }
    
    @media screen and (max-width: $break-small) {
        top: 100px;
        left: 40px;
        right: 40px;
    }
    
    @media screen and (max-width: $break-large) {
    }
    
    h1 {
        display:block;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 108px;
        color: $reddish;
        letter-spacing: 5px;
        
        @media screen and (max-width: $break-small) {
            font-size: 20px; 
        }
        
        @media screen and (max-width: $break-medium) {
            font-weight: 590;
            font-size: 78px;
            padding: 20px;
        }
    }
    
    h3 {
        display: inline;
        font-size: 23px;
        font-family: 'Indie Flower', cursive, 'sans-serif';
        color: #f8f8f8;
        font-weight: 550;
        margin-left: 10px;
        
        @media screen and (max-width: $break-small) {  
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            font-size: 20px;
            padding: 10px;       
        }     
    }
    
    .homepage_buttons {
        display: inline-block;
        margin-left: 80px;
        margin-top: 5px;
        
        @media screen and (max-width: $break-small) {
            display:block;
            margin-left: 0px;
            margin-top: 5px;
        }
        
        @media screen and (max-width: $break-medium) {
            margin-left: 0px;
            margin-top:5px;
            padding: 10px;          
        }
    }
    
    .homepage_buttons > span:nth-child(1) {
        font-size: 23px;
        color:  #f8f8f8;
        font-family: 'Indie Flower', cursive;
        
         @media screen and (max-width: $break-small) {  
        }
        
        @media screen and (max-width: $break-medium) {       
        }
    }
}


// -------------------------------------------------------------------------------------Sidebar Section------------------------------------------------------

.nav_menu {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.85);
    width: 200px;
    float: left;
    padding: 10px;
    text-align: right;
    z-index: 10;
    
    @media screen and (max-width: $break-small) {
        display:none;
    }
    
    @media screen and (max-width: $break-medium) {
        width: 100px;  
        }
    
    @media screen and (max-width: $break-large) { 
    }
    
    .main_logo {
        display: block;
        margin: 20px 5px;
        
        @media screen and (max-width: $break-medium) {
            display:none;  
        }        
    }
    
    #menu_options > li:nth-child(2) {
        font-family: 'Indie Flower', cursive;
        font-size: 24px;
        color: $grey ;
        font-weight: 580;
        
        span {
            margin-left: 0px; 
        }
        
        @media screen and (max-width: $break-medium) {
            font-size: 16px;
            margin-top: 20px;
            font-weight: 600;
            margin-left:0px;   
        }
    }
    
    #menu_options > li:nth-child(3) {
        @include nav_text;
        margin-top: 40px;
        color: $grey;
         &:hover {
             color: black;
             font-weight: bold;
        }
        
        @media screen and (max-width: $break-medium) {
            font-size:0px;
        }  
    }
    
    #menu_options > li:nth-child(4),li:nth-child(5),li:nth-child(6){
        @include nav_text;
        color: $grey;
        &:hover {
            color: black;
            font-weight: bold;  
        }
        
        @media screen and (max-width: $break-medium) {
            font-size:0px;
        }
    }
    
    .bottom_sidebar { 
        position: absolute;
        padding: 10px;
        bottom: 20px;
        left: 110px;
        
        @media screen and (max-width: $break-medium) {
                left: 55px;
            }
        
        li:nth-child(1){
            display:inline-block;
            padding-bottom: 15px;
            padding-right: 5px;
            
            &:hover {
            }
        }
        
        li:nth-child(2){
            display:inline-block;
            padding-bottom: 15px;
            
            &:hover {
            }
        }
        
        li:nth-child(3) {
            display: inline-block;
            position: absolute;
            right: 75%;
        }
      
            
        li:nth-child(4) {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 18px;
            
            @media screen and (max-width: $break-medium) {
                font-size: 18px;
                margin-left:0px;
            } 
        }
    }
    
    .nav_buttons {
        margin-left: 20px;
    }
}

.active {
    width: 18px;
    height: 18px;
    background: url("../images/nav-buttons-s659d95dd08.png") -18px 0;
    
    //To be added in JavaScript. Temporary
   /* &:hover {
        background: url("../images/nav-buttons-s659d95dd08.png") -18px 0;
        
    }*/
    
}

.active_hp{
    background: url("../images/logo-s58c2fba883.png")  -190px 0;
}

//----------------------------------------------------------------------------- Resume Section ---------------------------------------------------------------

//--------------FlexBox Approach -----------

.resume_section {
    margin-left: 220px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    
    @media screen and (max-width: $break-medium) {
                margin-left: 120px;
            }
    
    @media screen and (max-width: $break-small) {
                margin-left: 10px;
            }
    
    h1 {
        @include section_heading;
        
    }
}

.section_1 {
    @include flex_box;
    justify-content: center;
    width: 100%;
    
    @media screen and (max-width: $break-small) {
        display: block;
    }
    
    @media screen and (max-width: $break-medium) {
        display: block;
    }
    
    .tech_skills {
        order: 1;
        @include resume_block;
        
        @media screen and (max-width: $break-small) {
                max-width: 300px;
            }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }

        img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: $reddish;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        .tech_table{
            margin: 10px 0px 20px 52px;
            min-width: 400px;
            
            @media screen and (max-width: $break-small) {
                font-size: 16px;
                margin: 2px 0px 2px 5px;
                min-width: 300px;
            }
            
            .javascript_hover, .css_hover, .adobe_hover {
                // Activate display on hover using JavaScript
                display: none;
                font-size: 16px;
                margin: 2px 15px 2px 2px;
                color: $grey;
                font-weight: 590;   
            }

            h4 {
                display: block;
                font-size: 18px;
                color: black;  
                padding: 10px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    font-size: 16px;
                }
            }
            
            .circle {
                display: inline-block;
                margin: 5px 15px 15px 5px;
                width: 12px;
                height: 12px;
                background: rgba(146, 0, 20, 0.6);
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
                border-radius: 20px;
                border: 1px solid;
                border-color: black;
                
                @media screen and (max-width: $break-small) {
                    width: 5px;
                    height: 5px;
                }
                
                &.empty {
                    background: inherit;  
                }  
            }  
        } 
    }
    
    .soft_skills {
        order: 3;
        @include resume_block;
        
        @media screen and (max-width: $break-small) {
                max-width: 300px;
            }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
        img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: #027304;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        .soft_table {
            margin: 10px 0px 20px 52px;
            min-width: 400px;
            @media screen and (max-width: $break-small) {
                margin: 2px 0px 2px 5px;
                min-width: 300px;
            }
            
            h4 {
                display: block;
                font-size: 18px;
                color: black;  
                padding: 10px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    font-size: 16px;
                    padding-top: 5px;
                }
            }
            
            .circle_1 {
                display: inline-block;
                margin: 5px 15px 15px 5px;
                width: 12px;
                height: 12px;
                background: rgba(2, 115, 4, 0.6);
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
                border-radius: 20px;
                border: 1px solid;
                border-color: black;
                
                @media screen and (max-width: $break-small) {
                    width: 5px;
                    height: 5px;
                }
                
                &.empty {
                    background: inherit;
                    
                } 
            } 
        }
    }
    
    .special {
        order: 2;
        @include resume_block;
        letter-spacing: 0px;
        
        @media screen and (max-width: $break-small) {
            max-width: 300px;
                    
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
        .special_wrapper {
            min-width: 400px;
            
            @media screen and (max-width: $break-small) {
                min-width: 300px
            }  
        }
        
        img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 2px;
            }
        }
            
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: #210fac;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        .frontEnd {
            display: block;
            margin-top: 40px;
            margin-left: 40px;
            padding-bottom: 30px;
            max-width: 400px;
            border-bottom: 1px solid #b9b9b9;
            
             @media screen and (max-width: $break-small) {
                margin-top: 5px;
                margin-left: 5px;
                padding-bottom: 4px;
                max-width: 250px;
                 
             }
            
            img:nth-child(1){
                margin-top: 6px;
                margin-right: 30px;
                padding: 0px 5px 5px 5px;
                display: inline-block;
                float: left;        
            }
            
            h4 {
                display: block;
                font-size: 20px;
                color: black;
                font-weight: 600;
                margin: 15px 2px 5px 5px;
                padding: 5px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    margin-top: 25px;
                }
                
            }
            
            h6 {
                color: $grey;
                
                @media screen and (max-width: $break-small) {
                    display: none;
                }
            }
        }
        
        .design {
            display: block;
            margin-top: 30px;
            margin-left: 40px;
            padding-bottom: 30px;
            max-width: 400px;
            border-bottom: 1px solid #b9b9b9;
            
            @media screen and (max-width: $break-small) {
                margin-top: 5px;
                margin-left: 5px;
                padding-bottom: 4px;
                max-width: 250px; 
             }
            
            img:nth-child(1){
                margin-top: 6px;
                margin-right: 30px;
                padding: 0px 5px 5px 5px;
                display: inline-block;
                float: left;  
            }
            
            h4 {
                display: block;
                font-size: 20px;
                color: black;
                font-weight: 600;
                margin: 15px 2px 5px 5px;
                padding: 5px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    margin-bottom: 30px;
                }
            }
            
            h6 {
                color: $grey;
                
                @media screen and (max-width: $break-small) {
                    display: none;
                }
            }
        }
        
        .agile {
            display: block;
            margin-top: 30px;
            margin-left: 40px;
            padding-bottom: 30px;
            max-width: 400px;
            
            @media screen and (max-width: $break-small) {
                margin-top: 5px;
                margin-left: 5px;
                padding-bottom: 4px;
                max-width: 250px; 
             }

            img:nth-child(1){
                margin-top: 6px;
                margin-right: 30px;
                padding: 0px 5px 5px 5px;
                display: inline-block;
                float: left;
            }
            
            h4 {
                display: block;
                font-size: 20px;
                color: black;
                font-weight: 600;
                margin: 15px 2px 5px 5px;
                padding: 5px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    margin-bottom: 20px;                    
                } 
            }
            
            h6 {
                color: $grey;
                
                @media screen and (max-width: $break-small) {
                    display: none;  
                }
            } 
        }
    }
    
    .work_exp {
        order: 4;
        @include resume_block;
        letter-spacing: 0px;
        
        @media screen and (max-width: $break-small) {
            max-width: 300px;
                    
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
        img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 2px;
                    
            }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: #daa520;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
            
        }
        
        .work_table {
            margin: 20px 20px 20px 50px;
            
            @media screen and (max-width: $break-small) {
                margin: 2px 2px 2px 5px;
            }

            .resaas {
                margin-bottom: 40px;
                margin-top: 40px;
                
                @media screen and (max-width: $break-small) {
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                
                img {
                display: block;
                margin: 0px 15px 5px 0px;
                float: left;
                }
            }

            .resaas_text {
                h6 {
                font-size: 14px;
                color: black;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 10px;
                padding-top: 8px;
                }
            
                h3 {
                    font-size: 22px;
                    color: black;
                    font-weight: 500; 
                    padding-bottom: 5px;
                    margin-left: 25px;

                    @media screen and (max-width: $break-small) {
                        font-size: 18px;
                    }  
                }

                h4 {
                    font-size: 18px;
                    color: $grey;
                    font-weight: 500;
                    margin-left: 135px;

                     @media screen and (max-width: $break-small) {
                        font-size: 16px;
                    }
                }
                
            }
            
            .netgear {
                margin-bottom: 50px;
                margin-top: 50px;
                
                @media screen and (max-width: $break-small) {
                    margin-bottom: 30px;
                    margin-top: 10px;  
                }
                
                img {
                    display: block;
                    margin: 0px 35px 5px 0px;
                    float: left;
                }
            }
            
            .netgear_text {
                
                h6 {
                font-size: 14px;
                color: black;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 10px;
                padding-top: 8px;
               
                }   
            
                h3 {
                    font-size: 22px;
                    color: black;
                    font-weight: 500; 
                    padding-bottom: 5px;
                    margin-left: 25px;

                    @media screen and (max-width: $break-small) {
                        font-size: 18px;

                    }

                }

                h4 {
                    font-size: 18px;
                    color: $grey;
                    font-weight: 500;
                    margin-left: 105px;

                    @media screen and (max-width: $break-small) {
                        font-size: 16px;

                    }
                }
            }
        }
    }
    
    .vol_exp {
        order: 5;
        @include resume_block;
        letter-spacing: 0px;
        
        @media screen and (max-width: $break-small) {
            max-width: 300px;           
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
        img:nth-child(1){
            margin-left: 20px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 5px;
            }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 5px;
            color: #00c0ff;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 15px;
                margin-top: 10px;
            }
            
        }
        
        .vol_table {
            margin: 20px 20px 20px 50px;
            padding-bottom: 40px;
            border-left: 1px solid black;
            
            @media screen and (max-width: $break-small) {
                margin: 5px 5px 5px 10px;
                
            }
            
            .solar_text {
                margin: 40px 10px 20px 20px;
                
                img {
                    float: right;
                    margin: 0px 0px 0px 0px;
                }
                
                h6 {
                font-size: 14px;
                color: black;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 10px;
                padding-top: 8px;
                
                }
            
                h3 {
                    font-size: 20px;
                    color: black;
                    font-weight: 500; 
                    padding-bottom: 5px;
                    margin-left: 0px;

                }

                h4 {
                    font-size: 16px;
                    color: $grey;
                    font-weight: 500;
                    margin-left: 0px;
                }
                
            }
            
            .silicon {
                margin: 50px 10px 0px 20px;
                
                img {
                    float: right;
                    margin: 0px 0px 0px 0px;    
                }
                
                h6 {
                font-size: 14px;
                color: black;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 10px;
                padding-top: 8px;
                
                }
            
                h3 {
                    font-size: 20px;
                    color: black;
                    font-weight: 500; 
                    padding-bottom: 5px;
                    margin-left: 0px;

                }

                h4 {
                    font-size: 16px;
                    color: $grey;
                    font-weight: 500;
                    margin-left: 0px;
                } 
            }  
        }
    }
    
    .hobbies {
        order: 6;
        @include resume_block;
        letter-spacing: 0px;
        
        @media screen and (max-width: $break-small) {
            max-width: 300px;
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }

        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
       img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
           
           @media screen and (max-width: $break-small) {
               margin-left: 5px;
               margin-top: 2px;
           }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: #13dcd0;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        .first_section {
            font-size: 18px;
            font-weight: 550;
            margin-left: 40px;
            margin-top: 10px;
            margin-right: 300px;
            min-width: 200px;
            padding: 10px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 20px;
                margin-top: 10px;
                margin-right: 120px;
                min-width: 100px;
            }
            
            li {
                text-align: right;
               margin: 10px 0px 0px 0px; 
            }
        }
        
        .second_section {
            font-size: 18px;
            font-weight: 550;
            margin-left: 250px;
            margin-top: 10px;
            padding: 10px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 130px;
                margin-top: 10px;
                min-width: 100px;
            }
            
            li {
               margin: 0px 0px 10px 0px; 
            } 
        }
    }  
}

//----------------------------------------------------------------------------- Work Section ---------------------------------------------------------------

.alt-section {
    margin-left: 220px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(219, 219, 219, 0.62);
    overflow-x: hidden;
    
    
    @media screen and (max-width: $break-medium) {
                margin-left: 120px;
            }
    
    @media screen and (max-width: $break-small) {
        margin-left: 0px;
    }
    
    h1 {
        @include section_heading;
        
    }
}

.work-belt {
    width: 300%;
    position: relative;
    left: 0%;
    -webkit-transition-property: left;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;

    /* Standard syntax */
    transition-property: left;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    
}

.thumb-wrap, .project-wrap {
    width: 50%;
    float: left;
    
}


#work_container {
    margin-left: 5px;
    padding: 5px;
    
  
    
     @media screen and (max-width: $break-medium) {
                margin-left: 20px;
            }
    
    @media screen and (max-width: $break-small) {
                margin-left: 0px;
            }
}

.work-section-1 {
    //@include flex_box;
    max-width: 1300px;
    width: 50%;
    padding: 10px;
    justify-content: center;
    margin-left: 8%;
    
    @media screen and (max-width: $break-medium) {
        display: block;
        max-width: 400px;
        margin-left: 10%;
        .proj-1, .proj-2, .proj-3, .proj-4, .proj-5, .proj-6 {
            margin-bottom: 2px;
        }
        
        
    }
    
    @media screen and (max-width: $break-small) {
        display: block;
        max-width: 250px;
        margin-left: 1%;
        
        
    }
    
    
    
    .proj-1 { 
        @include work_block;
        width: 400px;
        //order: 1;
        background: rgba(201, 144, 101, 0.74) url('../images/work/proj-1/homescreen.png') no-repeat center center;
        background-size: cover;
        overflow: hidden;
        
        .inner-project {
            @include work_hover;
        }
        
        &:hover {
            .inner-project {
                opacity: 1 ;
                
            } 
        }
        
    }
    
    .proj-2 { 
        @include work_block;
        width: 700px;
        //order: 1;
        background: rgba(201, 144, 101, 0.74) url('../images/work/proj-2/mainscreen.png') no-repeat center center;
        background-size: cover;
        overflow: hidden;
        
        .inner-project {
            @include work_hover;
        }
        
        &:hover {
            .inner-project {
                opacity: 1 ;
                
            } 
        }
        
    }
    
    .proj-3 { 
        @include work_block;
        width: 600px;
        //order: 1;
        background: rgba(201, 144, 101, 0.74) url('../images/work/proj-3/mainscreen.png') no-repeat center center;
        background-size: cover;
        overflow: hidden;
        
        .inner-project {
            @include work_hover;
        }
        
        &:hover {
            .inner-project {
                opacity: 1 ;
                
            } 
        }
        
    }
    
    .proj-4 { 
        @include work_block;
        width: 500px;
        //order: 1;
        background: #b9b9b9 url('../images/work/proj-4/mainscreen.png') no-repeat center center;
        background-size: cover;
        overflow: hidden;
        
        .inner-project {
            @include work_hover;
        }
        
        &:hover {
            .inner-project {
                opacity: 1 ;
                
            } 
        }
        
    }
    
    .proj-5 { 
        @include work_block;
        width: 700px;
        //order: 1;
        background: #b9b9b9 url('../images/work/proj-5/mainscreen.png') no-repeat top center;
        overflow: hidden;
        
        .inner-project {
            @include work_hover;
        }
        
        &:hover {
            .inner-project {
                opacity: 1 ;
                
            } 
        }
        
    }
    
    .proj-6 { 
        @include work_block;
        width: 400px;
        //order: 1;
        background: #b9b9b9 url('../images/work/proj-6/mainscreen.png') no-repeat bottom center;
        background-size: cover;
        overflow: hidden;
        
        .inner-project {
            @include work_hover;
        }
        
        &:hover {
            .inner-project {
                opacity: 1 ;
                
            } 
        }
        
    }
}

.project_container {
    max-width: 960px;
    margin: 0px;
    margin-left: 20%;
    display: none;
    
    @media screen and (max-width: $break-small) {
        margin-left: 2%;
            
        
        
    }

    @media screen and (max-width: $break-medium) {
        margin-left: 5%;           

    }
    
    h4 {
        display: inline-block;
        position: relative;
        left: -44px;
        color: $accent;
        font-family: Courier New;
        font-size: 72px;
        font-style: bold;
        line-height: 1.2;
        
        @media screen and (max-width: $break-small) {
            
        
        
        }

        @media screen and (max-width: $break-medium) {
            margin-left: 60px;           
            
        }
        
    }
    
    img {
        max-width: 100%;
        margin-bottom: 20px;        
    }
    
    .work-return {
        position: relative;
        left: -64px;
        display: inline-block;
        vertical-align: text-bottom;
        width: 40px;
        height: 40px;
        cursor: pointer;
        opacity: 0.5;
        margin-bottom: 5px;
        
        @media screen and (max-width: $break-small) {
            left:0px;
        
        
        }

        @media screen and (max-width: $break-medium) {
            left:0px;           
            
        }
        
        
        &:hover {
            opacity: 1;
            
        }
        
    }
    
}

.readme {
    background: #eee;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    @media screen and (max-width: $break-small) {
        width: 350px;
        margin: 2px;
        padding: 2px;
        position: relative;
        right: 28px;
    }
    h3 {
        font-size: 24px;
        font-family: "Times New Roman", Georgia, Serif;
        color: #0783b1;
        margin: 5px;
        @media screen and (max-width: $break-small) {
            font-size: 16px;
        }
    }
    p {
        font-weight: 100;
        font-size: 16px;
        letter-spacing: 2px;
        margin: 5px;
        line-height: 1.5;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        
        a {
            color: #ad3333;
            text-decoration: underline;
        }
        @media screen and (max-width: $break-small) {
            font-size: 12px;

        }
    }
    
    ul {
        font-size: 16px;
        letter-spacing: 2px;
        margin: 10px;
        line-height: 1.5;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        @media screen and (max-width: $break-small) {
            font-size: 12px;

        }
        
    }
    
    
    
}

.onImages, .offImages {
    margin: 10px;
    cursor:pointer;
      background: #d99734;
      background-image: -webkit-linear-gradient(top, #d99734, #d99734);
      background-image: -moz-linear-gradient(top, #d99734, #d99734);
      background-image: -ms-linear-gradient(top, #d99734, #d99734);
      background-image: -o-linear-gradient(top, #d99734, #d99734);
      background-image: linear-gradient(to bottom, #d99734, #d99734);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      font-family: Courier New;
      color: #ffffff;
      font-size: 16px;
      padding: 7px 7px 7px 7px;
      text-decoration: none;
}

.onImages:hover, .offImages:hover {
    cursor:pointer;
  background: #b07b2c;
  background-image: -webkit-linear-gradient(top, #b07b2c, #b07b2c);
  background-image: -moz-linear-gradient(top, #b07b2c, #b07b2c);
  background-image: -ms-linear-gradient(top, #b07b2c, #b07b2c);
  background-image: -o-linear-gradient(top, #b07b2c, #b07b2c);
  background-image: linear-gradient(to bottom, #b07b2c, #b07b2c);
  text-decoration: none;
}

//-------------------------Biography Section-----------------------------------
.bio_section {
    width:  100%;
    height: 100%;
    h1 {
        @include section_heading; 
    }    
}

.bio_info {
    display: inline-block;
    position: relative;
    left: 250px;
    width: 700px;
    
    @media screen and (max-width: $break-medium) {
            left: 125px;               
        }
    @media screen and (max-width: $break-small) {
            left: 1px; 
        }
    #myPicture {
        display: inline-block;
        position: relative;
        left: 110px;
        margin: 10px;
        top: 10px;
        @media screen and (max-width: 1460px) {
            display:block;
            margin: auto;
            left: 0px;

        }

    }
 
}

.attributes_section{
    position: relative;
    left: 5%;
    top: 50px;
    display: inline-block;
    width: 620px;
    background: rgba(255, 186, 0, 0.81);
    border-radius: 5px;
    @media screen and (max-width: $break-small) {
        left:0px;
        
        
    }
    h2 {
        text-align: center;
        font-size: 24px;
        font-family: 'Open Sans Condensed', sans-serif;
        margin: 5px 2px 5px;
        
        
    }
    
    div {
        display: inline-block;
        width: 100px;
        margin: 10px;
        text-align: center;
        img {
            display: inline-block;
            
        }
        h2 {
            font-size: 22px;
            vertical-align: text-bottom;
            
            
        }
        
    }
}
.bio_text {
        display: inline-block;
        position: absolute;
        right: 150px;
        margin-top: 25px;
        @media screen and (max-width: 1460px) {
            display:block;
            margin: auto;
            //right: 50px;
            margin-top: 50px;

        }
        @media screen and (max-width: $break-small) {
            left: 6px;
        }
        
        
        p {
            margin: 10px;
            font-size: 20px;
            font-family: 'Indie Flower', cursive, 'sans-serif';
            color: black;
            width: 510px;
            letter-spacing: 2px;
            line-height: 1.5;
            background-color: #F7F5F5;
            border: 3px solid #e1dfdf;
            padding: 10px;
            border-radius: 10px;
            span {
                background-color: #fff;
                color: #ffba00;
                border-radius: 10px;
            }
            a {
                 text-decoration: underline;
            }
            @media screen and (max-width: $break-small) {
                font-size: 14px;
                width: 350px;
            }

        }
    
        
        
    }



