/* line 5, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 56, logo/*.png */
.logo-sprite, .logo-my_logo_2 {
  background-image: url('../images/logo-s58c2fba883.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.logo-my_logo_2 {
  background-position: 0 0;
}
/* line 59, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.logo-my_logo_2:hover, .logo-my_logo_2.my_logo_2-hover {
  background-position: -190px 0;
}

/* line 56, nav-buttons/*.png */
.nav-buttons-sprite, .nav-buttons-border, .nav-buttons-colored {
  background-image: url('../images/nav-buttons-s659d95dd08.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.nav-buttons-border {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.nav-buttons-colored {
  background-position: -18px 0;
}

/* line 14, ../sass/style_1.scss */
html {
  height: 100%;
}

/* line 19, ../sass/style_1.scss */
body {
  /*background: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;*/
  background-color: #f7f5f5;
  height: 100%;
}

/* line 28, ../sass/style_1.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 32, ../sass/style_1.scss */
a:hover {
  color: inherit;
}

/* line 37, ../sass/style_1.scss */
.gap {
  width: 100%;
  height: 1000px;
}

/* line 44, ../sass/style_1.scss */
#homepage_bg {
  height: 100%;
  width: 100%;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 942px) {
  /* line 44, ../sass/style_1.scss */
  #homepage_bg {
    height: 100%;
    width: 100%;
    background: url("../images/background_mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

/* line 62, ../sass/style_1.scss */
#arrow {
  position: absolute;
  left: 50%;
  bottom: 5%;
}
@media screen and (max-width: 942px) {
  /* line 62, ../sass/style_1.scss */
  #arrow {
    left: 40%;
  }
}

/* line 72, ../sass/style_1.scss */
.homepage_text {
  max-width: 900px;
  position: absolute;
  top: 80px;
  left: 230px;
  padding: 10px;
  background-color: rgba(129, 129, 129, 0.13);
  border-radius: 30px;
}
@media screen and (max-width: 942px) {
  /* line 72, ../sass/style_1.scss */
  .homepage_text {
    top: 200px;
    left: 150px;
    background-color: rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 520px) {
  /* line 72, ../sass/style_1.scss */
  .homepage_text {
    top: 100px;
    left: 40px;
    right: 40px;
  }
}
/* line 96, ../sass/style_1.scss */
.homepage_text h1 {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 108px;
  color: #920014;
  letter-spacing: 5px;
}
@media screen and (max-width: 520px) {
  /* line 96, ../sass/style_1.scss */
  .homepage_text h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 942px) {
  /* line 96, ../sass/style_1.scss */
  .homepage_text h1 {
    font-weight: 590;
    font-size: 78px;
    padding: 20px;
  }
}
/* line 114, ../sass/style_1.scss */
.homepage_text h3 {
  display: inline;
  font-size: 23px;
  font-family: 'Indie Flower', cursive, 'sans-serif';
  color: #f8f8f8;
  font-weight: 550;
  margin-left: 10px;
}
@media screen and (max-width: 942px) {
  /* line 114, ../sass/style_1.scss */
  .homepage_text h3 {
    display: block;
    font-size: 20px;
    padding: 10px;
  }
}
/* line 132, ../sass/style_1.scss */
.homepage_text .homepage_buttons {
  display: inline-block;
  margin-left: 80px;
  margin-top: 5px;
}
@media screen and (max-width: 520px) {
  /* line 132, ../sass/style_1.scss */
  .homepage_text .homepage_buttons {
    display: block;
    margin-left: 0px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 942px) {
  /* line 132, ../sass/style_1.scss */
  .homepage_text .homepage_buttons {
    margin-left: 0px;
    margin-top: 5px;
    padding: 10px;
  }
}
/* line 150, ../sass/style_1.scss */
.homepage_text .homepage_buttons > span:nth-child(1) {
  font-size: 23px;
  color: #f8f8f8;
  font-family: 'Indie Flower', cursive;
}

/* line 166, ../sass/style_1.scss */
.nav_menu {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  width: 200px;
  float: left;
  padding: 10px;
  text-align: right;
  z-index: 10;
}
@media screen and (max-width: 520px) {
  /* line 166, ../sass/style_1.scss */
  .nav_menu {
    display: none;
  }
}
@media screen and (max-width: 942px) {
  /* line 166, ../sass/style_1.scss */
  .nav_menu {
    width: 100px;
  }
}
/* line 189, ../sass/style_1.scss */
.nav_menu .main_logo {
  display: block;
  margin: 20px 5px;
}
@media screen and (max-width: 942px) {
  /* line 189, ../sass/style_1.scss */
  .nav_menu .main_logo {
    display: none;
  }
}
/* line 198, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(2) {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: #6c6c6c;
  font-weight: 580;
}
/* line 204, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(2) span {
  margin-left: 0px;
}
@media screen and (max-width: 942px) {
  /* line 198, ../sass/style_1.scss */
  .nav_menu #menu_options > li:nth-child(2) {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    margin-left: 0px;
  }
}
/* line 216, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(3) {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  margin-bottom: 24px;
  margin-left: 25px;
  line-height: 15px;
  letter-spacing: 1px;
  margin-top: 40px;
  color: #6c6c6c;
}
/* line 30, ../sass/_base.scss */
.nav_menu #menu_options > li:nth-child(3) img:nth-child(1) {
  float: left;
}
/* line 220, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(3):hover {
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 942px) {
  /* line 216, ../sass/style_1.scss */
  .nav_menu #menu_options > li:nth-child(3) {
    font-size: 0px;
  }
}
/* line 230, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(4), .nav_menu li:nth-child(5), .nav_menu li:nth-child(6) {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  margin-bottom: 24px;
  margin-left: 25px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #6c6c6c;
}
/* line 30, ../sass/_base.scss */
.nav_menu #menu_options > li:nth-child(4) img:nth-child(1), .nav_menu li:nth-child(5) img:nth-child(1), .nav_menu li:nth-child(6) img:nth-child(1) {
  float: left;
}
/* line 233, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(4):hover, .nav_menu li:nth-child(5):hover, .nav_menu li:nth-child(6):hover {
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 942px) {
  /* line 230, ../sass/style_1.scss */
  .nav_menu #menu_options > li:nth-child(4), .nav_menu li:nth-child(5), .nav_menu li:nth-child(6) {
    font-size: 0px;
  }
}
/* line 243, ../sass/style_1.scss */
.nav_menu .bottom_sidebar {
  position: absolute;
  padding: 10px;
  bottom: 20px;
  left: 110px;
}
@media screen and (max-width: 942px) {
  /* line 243, ../sass/style_1.scss */
  .nav_menu .bottom_sidebar {
    left: 55px;
  }
}
/* line 253, ../sass/style_1.scss */
.nav_menu .bottom_sidebar li:first-child {
  display: block;
  padding-bottom: 10px;
}
/* line 261, ../sass/style_1.scss */
.nav_menu .bottom_sidebar li:nth-child(2) {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 942px) {
  /* line 261, ../sass/style_1.scss */
  .nav_menu .bottom_sidebar li:nth-child(2) {
    font-size: 18px;
    margin-left: 0px;
  }
}
/* line 272, ../sass/style_1.scss */
.nav_menu .nav_buttons {
  margin-left: 20px;
}

/* line 277, ../sass/style_1.scss */
.active {
  width: 18px;
  height: 18px;
  background: url("../images/nav-buttons-s659d95dd08.png") -18px 0;
  /* &:hover {
       background: url("../images/nav-buttons-s659d95dd08.png") -18px 0;
       
   }*/
}

/* line 290, ../sass/style_1.scss */
.active_hp {
  background: url("../images/logo-s58c2fba883.png") -190px 0;
}

/* line 298, ../sass/style_1.scss */
.resume_section {
  margin-left: 220px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
@media screen and (max-width: 942px) {
  /* line 298, ../sass/style_1.scss */
  .resume_section {
    margin-left: 120px;
  }
}
@media screen and (max-width: 520px) {
  /* line 298, ../sass/style_1.scss */
  .resume_section {
    margin-left: 10px;
  }
}

/* line 314, ../sass/style_1.scss */
.section_1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 520px) {
  /* line 314, ../sass/style_1.scss */
  .section_1 {
    display: block;
  }
}
@media screen and (max-width: 942px) {
  /* line 314, ../sass/style_1.scss */
  .section_1 {
    display: block;
  }
}
/* line 327, ../sass/style_1.scss */
.section_1 .tech_skills {
  order: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 520px) {
  /* line 327, ../sass/style_1.scss */
  .section_1 .tech_skills {
    max-width: 300px;
  }
}
@media screen and (max-width: 942px) {
  /* line 327, ../sass/style_1.scss */
  .section_1 .tech_skills {
    display: block;
    margin-left: 10%;
  }
}
/* line 340, ../sass/style_1.scss */
.section_1 .tech_skills:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 346, ../sass/style_1.scss */
.section_1 .tech_skills img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 520px) {
  /* line 346, ../sass/style_1.scss */
  .section_1 .tech_skills img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 356, ../sass/style_1.scss */
.section_1 .tech_skills h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #920014;
}
@media screen and (max-width: 520px) {
  /* line 356, ../sass/style_1.scss */
  .section_1 .tech_skills h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 369, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table {
  margin: 10px 0px 20px 52px;
  min-width: 400px;
}
@media screen and (max-width: 520px) {
  /* line 369, ../sass/style_1.scss */
  .section_1 .tech_skills .tech_table {
    font-size: 16px;
    margin: 2px 0px 2px 5px;
    min-width: 300px;
  }
}
/* line 379, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table .javascript_hover, .section_1 .tech_skills .tech_table .css_hover, .section_1 .tech_skills .tech_table .adobe_hover {
  display: none;
  font-size: 16px;
  margin: 2px 15px 2px 2px;
  color: #6c6c6c;
  font-weight: 590;
}
/* line 388, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table h4 {
  display: block;
  font-size: 18px;
  color: black;
  padding: 10px 5px 5px 2px;
}
@media screen and (max-width: 520px) {
  /* line 388, ../sass/style_1.scss */
  .section_1 .tech_skills .tech_table h4 {
    font-size: 16px;
  }
}
/* line 399, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table .circle {
  display: inline-block;
  margin: 5px 15px 15px 5px;
  width: 12px;
  height: 12px;
  background: rgba(146, 0, 20, 0.6);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid;
  border-color: black;
}
@media screen and (max-width: 520px) {
  /* line 399, ../sass/style_1.scss */
  .section_1 .tech_skills .tech_table .circle {
    width: 5px;
    height: 5px;
  }
}
/* line 416, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table .circle.empty {
  background: inherit;
}
/* line 423, ../sass/style_1.scss */
.section_1 .soft_skills {
  order: 3;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 520px) {
  /* line 423, ../sass/style_1.scss */
  .section_1 .soft_skills {
    max-width: 300px;
  }
}
@media screen and (max-width: 942px) {
  /* line 423, ../sass/style_1.scss */
  .section_1 .soft_skills {
    display: block;
    margin-left: 10%;
  }
}
/* line 436, ../sass/style_1.scss */
.section_1 .soft_skills:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 442, ../sass/style_1.scss */
.section_1 .soft_skills img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 520px) {
  /* line 442, ../sass/style_1.scss */
  .section_1 .soft_skills img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 452, ../sass/style_1.scss */
.section_1 .soft_skills h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #027304;
}
@media screen and (max-width: 520px) {
  /* line 452, ../sass/style_1.scss */
  .section_1 .soft_skills h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 465, ../sass/style_1.scss */
.section_1 .soft_skills .soft_table {
  margin: 10px 0px 20px 52px;
  min-width: 400px;
}
@media screen and (max-width: 520px) {
  /* line 465, ../sass/style_1.scss */
  .section_1 .soft_skills .soft_table {
    margin: 2px 0px 2px 5px;
    min-width: 300px;
  }
}
/* line 473, ../sass/style_1.scss */
.section_1 .soft_skills .soft_table h4 {
  display: block;
  font-size: 18px;
  color: black;
  padding: 10px 5px 5px 2px;
}
@media screen and (max-width: 520px) {
  /* line 473, ../sass/style_1.scss */
  .section_1 .soft_skills .soft_table h4 {
    font-size: 16px;
    padding-top: 5px;
  }
}
/* line 485, ../sass/style_1.scss */
.section_1 .soft_skills .soft_table .circle_1 {
  display: inline-block;
  margin: 5px 15px 15px 5px;
  width: 12px;
  height: 12px;
  background: rgba(2, 115, 4, 0.6);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid;
  border-color: black;
}
@media screen and (max-width: 520px) {
  /* line 485, ../sass/style_1.scss */
  .section_1 .soft_skills .soft_table .circle_1 {
    width: 5px;
    height: 5px;
  }
}
/* line 502, ../sass/style_1.scss */
.section_1 .soft_skills .soft_table .circle_1.empty {
  background: inherit;
}
/* line 510, ../sass/style_1.scss */
.section_1 .special {
  order: 2;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
  letter-spacing: 0px;
}
@media screen and (max-width: 520px) {
  /* line 510, ../sass/style_1.scss */
  .section_1 .special {
    max-width: 300px;
  }
}
@media screen and (max-width: 942px) {
  /* line 510, ../sass/style_1.scss */
  .section_1 .special {
    display: block;
    margin-left: 10%;
  }
}
/* line 525, ../sass/style_1.scss */
.section_1 .special:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 531, ../sass/style_1.scss */
.section_1 .special .special_wrapper {
  min-width: 400px;
}
@media screen and (max-width: 520px) {
  /* line 531, ../sass/style_1.scss */
  .section_1 .special .special_wrapper {
    min-width: 300px;
  }
}
/* line 539, ../sass/style_1.scss */
.section_1 .special img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 520px) {
  /* line 539, ../sass/style_1.scss */
  .section_1 .special img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 549, ../sass/style_1.scss */
.section_1 .special h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #210fac;
}
@media screen and (max-width: 520px) {
  /* line 549, ../sass/style_1.scss */
  .section_1 .special h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 562, ../sass/style_1.scss */
.section_1 .special .frontEnd {
  display: block;
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 30px;
  max-width: 400px;
  border-bottom: 1px solid #b9b9b9;
}
@media screen and (max-width: 520px) {
  /* line 562, ../sass/style_1.scss */
  .section_1 .special .frontEnd {
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 4px;
    max-width: 250px;
  }
}
/* line 578, ../sass/style_1.scss */
.section_1 .special .frontEnd img:nth-child(1) {
  margin-top: 6px;
  margin-right: 30px;
  padding: 0px 5px 5px 5px;
  display: inline-block;
  float: left;
}
/* line 586, ../sass/style_1.scss */
.section_1 .special .frontEnd h4 {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: 600;
  margin: 15px 2px 5px 5px;
  padding: 5px 5px 5px 2px;
}
@media screen and (max-width: 520px) {
  /* line 586, ../sass/style_1.scss */
  .section_1 .special .frontEnd h4 {
    margin-top: 25px;
  }
}
/* line 600, ../sass/style_1.scss */
.section_1 .special .frontEnd h6 {
  color: #6c6c6c;
}
@media screen and (max-width: 520px) {
  /* line 600, ../sass/style_1.scss */
  .section_1 .special .frontEnd h6 {
    display: none;
  }
}
/* line 609, ../sass/style_1.scss */
.section_1 .special .design {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  padding-bottom: 30px;
  max-width: 400px;
  border-bottom: 1px solid #b9b9b9;
}
@media screen and (max-width: 520px) {
  /* line 609, ../sass/style_1.scss */
  .section_1 .special .design {
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 4px;
    max-width: 250px;
  }
}
/* line 624, ../sass/style_1.scss */
.section_1 .special .design img:nth-child(1) {
  margin-top: 6px;
  margin-right: 30px;
  padding: 0px 5px 5px 5px;
  display: inline-block;
  float: left;
}
/* line 632, ../sass/style_1.scss */
.section_1 .special .design h4 {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: 600;
  margin: 15px 2px 5px 5px;
  padding: 5px 5px 5px 2px;
}
@media screen and (max-width: 520px) {
  /* line 632, ../sass/style_1.scss */
  .section_1 .special .design h4 {
    margin-bottom: 30px;
  }
}
/* line 645, ../sass/style_1.scss */
.section_1 .special .design h6 {
  color: #6c6c6c;
}
@media screen and (max-width: 520px) {
  /* line 645, ../sass/style_1.scss */
  .section_1 .special .design h6 {
    display: none;
  }
}
/* line 654, ../sass/style_1.scss */
.section_1 .special .agile {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  padding-bottom: 30px;
  max-width: 400px;
}
@media screen and (max-width: 520px) {
  /* line 654, ../sass/style_1.scss */
  .section_1 .special .agile {
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 4px;
    max-width: 250px;
  }
}
/* line 668, ../sass/style_1.scss */
.section_1 .special .agile img:nth-child(1) {
  margin-top: 6px;
  margin-right: 30px;
  padding: 0px 5px 5px 5px;
  display: inline-block;
  float: left;
}
/* line 676, ../sass/style_1.scss */
.section_1 .special .agile h4 {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: 600;
  margin: 15px 2px 5px 5px;
  padding: 5px 5px 5px 2px;
}
@media screen and (max-width: 520px) {
  /* line 676, ../sass/style_1.scss */
  .section_1 .special .agile h4 {
    margin-bottom: 20px;
  }
}
/* line 689, ../sass/style_1.scss */
.section_1 .special .agile h6 {
  color: #6c6c6c;
}
@media screen and (max-width: 520px) {
  /* line 689, ../sass/style_1.scss */
  .section_1 .special .agile h6 {
    display: none;
  }
}
/* line 699, ../sass/style_1.scss */
.section_1 .work_exp {
  order: 4;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
  letter-spacing: 0px;
}
@media screen and (max-width: 520px) {
  /* line 699, ../sass/style_1.scss */
  .section_1 .work_exp {
    max-width: 300px;
  }
}
@media screen and (max-width: 942px) {
  /* line 699, ../sass/style_1.scss */
  .section_1 .work_exp {
    display: block;
    margin-left: 10%;
  }
}
/* line 714, ../sass/style_1.scss */
.section_1 .work_exp:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 720, ../sass/style_1.scss */
.section_1 .work_exp img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 520px) {
  /* line 720, ../sass/style_1.scss */
  .section_1 .work_exp img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 731, ../sass/style_1.scss */
.section_1 .work_exp h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #daa520;
}
@media screen and (max-width: 520px) {
  /* line 731, ../sass/style_1.scss */
  .section_1 .work_exp h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 745, ../sass/style_1.scss */
.section_1 .work_exp .work_table {
  margin: 20px 20px 20px 50px;
}
@media screen and (max-width: 520px) {
  /* line 745, ../sass/style_1.scss */
  .section_1 .work_exp .work_table {
    margin: 2px 2px 2px 5px;
  }
}
/* line 752, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas {
  margin-bottom: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 520px) {
  /* line 752, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .resaas {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
/* line 761, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas img {
  display: block;
  margin: 0px 15px 5px 0px;
  float: left;
}
/* line 769, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas_text h6 {
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  padding-top: 8px;
}
/* line 778, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas_text h3 {
  font-size: 22px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 25px;
}
@media screen and (max-width: 520px) {
  /* line 778, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .resaas_text h3 {
    font-size: 18px;
  }
}
/* line 790, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas_text h4 {
  font-size: 18px;
  color: #6c6c6c;
  font-weight: 500;
  margin-left: 135px;
}
@media screen and (max-width: 520px) {
  /* line 790, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .resaas_text h4 {
    font-size: 16px;
  }
}
/* line 803, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear {
  margin-bottom: 50px;
  margin-top: 50px;
}
@media screen and (max-width: 520px) {
  /* line 803, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .netgear {
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
/* line 812, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear img {
  display: block;
  margin: 0px 35px 5px 0px;
  float: left;
}
/* line 821, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear_text h6 {
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  padding-top: 8px;
}
/* line 831, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear_text h3 {
  font-size: 22px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 25px;
}
@media screen and (max-width: 520px) {
  /* line 831, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .netgear_text h3 {
    font-size: 18px;
  }
}
/* line 845, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear_text h4 {
  font-size: 18px;
  color: #6c6c6c;
  font-weight: 500;
  margin-left: 105px;
}
@media screen and (max-width: 520px) {
  /* line 845, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .netgear_text h4 {
    font-size: 16px;
  }
}
/* line 860, ../sass/style_1.scss */
.section_1 .vol_exp {
  order: 5;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
  letter-spacing: 0px;
}
@media screen and (max-width: 520px) {
  /* line 860, ../sass/style_1.scss */
  .section_1 .vol_exp {
    max-width: 300px;
  }
}
@media screen and (max-width: 942px) {
  /* line 860, ../sass/style_1.scss */
  .section_1 .vol_exp {
    display: block;
    margin-left: 10%;
  }
}
/* line 874, ../sass/style_1.scss */
.section_1 .vol_exp:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 880, ../sass/style_1.scss */
.section_1 .vol_exp img:nth-child(1) {
  margin-left: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 520px) {
  /* line 880, ../sass/style_1.scss */
  .section_1 .vol_exp img:nth-child(1) {
    margin-left: 5px;
    margin-top: 5px;
  }
}
/* line 890, ../sass/style_1.scss */
.section_1 .vol_exp h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 5px;
  color: #00c0ff;
}
@media screen and (max-width: 520px) {
  /* line 890, ../sass/style_1.scss */
  .section_1 .vol_exp h2 {
    font-size: 32px;
    margin-left: 15px;
    margin-top: 10px;
  }
}
/* line 904, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table {
  margin: 20px 20px 20px 50px;
  padding-bottom: 40px;
  border-left: 1px solid black;
}
@media screen and (max-width: 520px) {
  /* line 904, ../sass/style_1.scss */
  .section_1 .vol_exp .vol_table {
    margin: 5px 5px 5px 10px;
  }
}
/* line 914, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text {
  margin: 40px 10px 20px 20px;
}
/* line 917, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text img {
  float: right;
  margin: 0px 0px 0px 0px;
}
/* line 922, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text h6 {
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  padding-top: 8px;
}
/* line 932, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text h3 {
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 0px;
}
/* line 941, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text h4 {
  font-size: 16px;
  color: #6c6c6c;
  font-weight: 500;
  margin-left: 0px;
}
/* line 950, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon {
  margin: 50px 10px 0px 20px;
}
/* line 953, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon img {
  float: right;
  margin: 0px 0px 0px 0px;
}
/* line 958, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon h6 {
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  padding-top: 8px;
}
/* line 968, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon h3 {
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 0px;
}
/* line 977, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon h4 {
  font-size: 16px;
  color: #6c6c6c;
  font-weight: 500;
  margin-left: 0px;
}
/* line 987, ../sass/style_1.scss */
.section_1 .hobbies {
  order: 6;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
  letter-spacing: 0px;
}
@media screen and (max-width: 520px) {
  /* line 987, ../sass/style_1.scss */
  .section_1 .hobbies {
    max-width: 300px;
  }
}
@media screen and (max-width: 942px) {
  /* line 987, ../sass/style_1.scss */
  .section_1 .hobbies {
    display: block;
    margin-left: 10%;
  }
}
/* line 1001, ../sass/style_1.scss */
.section_1 .hobbies:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 1007, ../sass/style_1.scss */
.section_1 .hobbies img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 520px) {
  /* line 1007, ../sass/style_1.scss */
  .section_1 .hobbies img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 1017, ../sass/style_1.scss */
.section_1 .hobbies h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #13dcd0;
}
@media screen and (max-width: 520px) {
  /* line 1017, ../sass/style_1.scss */
  .section_1 .hobbies h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 1030, ../sass/style_1.scss */
.section_1 .hobbies .first_section {
  font-size: 18px;
  font-weight: 550;
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 300px;
  min-width: 200px;
  padding: 10px;
}
@media screen and (max-width: 520px) {
  /* line 1030, ../sass/style_1.scss */
  .section_1 .hobbies .first_section {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 120px;
    min-width: 100px;
  }
}
/* line 1046, ../sass/style_1.scss */
.section_1 .hobbies .first_section li {
  text-align: right;
  margin: 10px 0px 0px 0px;
}
/* line 1052, ../sass/style_1.scss */
.section_1 .hobbies .second_section {
  font-size: 18px;
  font-weight: 550;
  margin-left: 250px;
  margin-top: 10px;
  padding: 10px;
}
@media screen and (max-width: 520px) {
  /* line 1052, ../sass/style_1.scss */
  .section_1 .hobbies .second_section {
    margin-left: 130px;
    margin-top: 10px;
    min-width: 100px;
  }
}
/* line 1065, ../sass/style_1.scss */
.section_1 .hobbies .second_section li {
  margin: 0px 0px 10px 0px;
}

/* line 1074, ../sass/style_1.scss */
.alt-section {
  margin-left: 220px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  background: #e5eaee;
}
@media screen and (max-width: 942px) {
  /* line 1074, ../sass/style_1.scss */
  .alt-section {
    margin-left: 120px;
  }
}
@media screen and (max-width: 520px) {
  /* line 1074, ../sass/style_1.scss */
  .alt-section {
    margin-left: 30px;
  }
}

/* line 1091, ../sass/style_1.scss */
#work_container {
  margin-left: 60px;
}
@media screen and (max-width: 942px) {
  /* line 1091, ../sass/style_1.scss */
  #work_container {
    margin-left: 70px;
  }
}
@media screen and (max-width: 520px) {
  /* line 1091, ../sass/style_1.scss */
  #work_container {
    margin-left: 5px;
  }
}

/* line 1103, ../sass/style_1.scss */
.work-section-1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 520px) {
  /* line 1103, ../sass/style_1.scss */
  .work-section-1 {
    display: block;
  }
}
@media screen and (max-width: 942px) {
  /* line 1103, ../sass/style_1.scss */
  .work-section-1 {
    display: block;
  }
}
/* line 1116, ../sass/style_1.scss */
.work-section-1 .proj-1 {
  order: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 300px;
  max-width: 400px;
  margin: 55px 105px 10px 5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 520px) {
  /* line 1116, ../sass/style_1.scss */
  .work-section-1 .proj-1 {
    max-width: 300px;
  }
}
@media screen and (max-width: 942px) {
  /* line 1116, ../sass/style_1.scss */
  .work-section-1 .proj-1 {
    display: block;
    margin-left: 10%;
  }
}
/* line 1135, ../sass/style_1.scss */
.work-section-1 .proj-2 {
  order: 2;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 300px;
  max-width: 400px;
  margin: 55px 105px 10px 5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 520px) {
  /* line 1135, ../sass/style_1.scss */
  .work-section-1 .proj-2 {
    max-width: 300px;
  }
}
@media screen and (max-width: 942px) {
  /* line 1135, ../sass/style_1.scss */
  .work-section-1 .proj-2 {
    display: block;
    margin-left: 10%;
  }
}
/* line 1153, ../sass/style_1.scss */
.work-section-1 .proj-3 {
  order: 2;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 300px;
  max-width: 400px;
  margin: 55px 105px 10px 5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 520px) {
  /* line 1153, ../sass/style_1.scss */
  .work-section-1 .proj-3 {
    max-width: 300px;
  }
}
@media screen and (max-width: 942px) {
  /* line 1153, ../sass/style_1.scss */
  .work-section-1 .proj-3 {
    display: block;
    margin-left: 10%;
  }
}
