/* line 5, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 56, logo/*.png */
.logo-sprite, .logo-my_logo_2 {
  background-image: url('../images/logo-sd72735c603.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.logo-my_logo_2 {
  background-position: 0 0;
}
/* line 59, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.logo-my_logo_2:hover, .logo-my_logo_2.my_logo_2-hover {
  background-position: -190px 0;
}

/* line 56, nav-buttons/*.png */
.nav-buttons-sprite, .nav-buttons-border, .nav-buttons-colored {
  background-image: url('../images/nav-buttons-s659d95dd08.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.nav-buttons-border {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.nav-buttons-colored {
  background-position: -18px 0;
}

/* line 1, ../sass/spinner.scss */
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
/* line 16, ../sass/style_1.scss */
html {
  height: 100%;
}

/* line 20, ../sass/style_1.scss */
body {
  /*background: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;*/
  background-color: #f7f5f5;
  height: 100%;
}

/* line 30, ../sass/style_1.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 34, ../sass/style_1.scss */
a:hover {
  color: inherit;
}

/* line 43, ../sass/style_1.scss */
#homepage_bg {
  height: 100%;
  width: 100%;
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media screen and (max-width: 1050px) {
  /* line 43, ../sass/style_1.scss */
  #homepage_bg {
    height: 100%;
    width: 100%;
    background: url("../images/background_mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

/* line 61, ../sass/style_1.scss */
#arrow {
  position: absolute;
  left: 50%;
  bottom: 5%;
}
@media screen and (max-width: 1050px) {
  /* line 61, ../sass/style_1.scss */
  #arrow {
    left: 40%;
  }
}
@media screen and (max-width: 720px) {
  /* line 61, ../sass/style_1.scss */
  #arrow {
    display: none;
  }
}

/* line 75, ../sass/style_1.scss */
.homepage_text {
  max-width: 900px;
  position: absolute;
  top: 80px;
  left: 230px;
  padding: 10px;
  background-color: rgba(129, 129, 129, 0.13);
  border-radius: 30px;
}
@media screen and (max-width: 1050px) {
  /* line 75, ../sass/style_1.scss */
  .homepage_text {
    top: 200px;
    left: 150px;
    background-color: rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 720px) {
  /* line 75, ../sass/style_1.scss */
  .homepage_text {
    top: 100px;
    left: 40px;
    right: 40px;
  }
}
/* line 99, ../sass/style_1.scss */
.homepage_text h1 {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 108px;
  color: #920014;
  letter-spacing: 5px;
}
@media screen and (max-width: 720px) {
  /* line 99, ../sass/style_1.scss */
  .homepage_text h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 99, ../sass/style_1.scss */
  .homepage_text h1 {
    font-weight: 590;
    font-size: 78px;
    padding: 20px;
  }
}
/* line 117, ../sass/style_1.scss */
.homepage_text h3 {
  display: inline;
  font-size: 23px;
  font-family: 'Indie Flower', cursive, 'sans-serif';
  color: #f8f8f8;
  font-weight: 550;
  margin-left: 10px;
}
@media screen and (max-width: 1050px) {
  /* line 117, ../sass/style_1.scss */
  .homepage_text h3 {
    display: block;
    font-size: 20px;
    padding: 10px;
  }
}
/* line 135, ../sass/style_1.scss */
.homepage_text .homepage_buttons {
  display: inline-block;
  margin-left: 80px;
  margin-top: 5px;
}
@media screen and (max-width: 720px) {
  /* line 135, ../sass/style_1.scss */
  .homepage_text .homepage_buttons {
    display: block;
    margin-left: 0px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 135, ../sass/style_1.scss */
  .homepage_text .homepage_buttons {
    margin-left: 0px;
    margin-top: 5px;
    padding: 10px;
  }
}
/* line 153, ../sass/style_1.scss */
.homepage_text .homepage_buttons > span:nth-child(1) {
  font-size: 23px;
  color: #f8f8f8;
  font-family: 'Indie Flower', cursive;
}

/* line 169, ../sass/style_1.scss */
.nav_menu {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.85);
  width: 200px;
  float: left;
  padding: 10px;
  text-align: right;
  z-index: 10;
}
@media screen and (max-width: 720px) {
  /* line 169, ../sass/style_1.scss */
  .nav_menu {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  /* line 169, ../sass/style_1.scss */
  .nav_menu {
    width: 100px;
  }
}
/* line 192, ../sass/style_1.scss */
.nav_menu .main_logo {
  display: block;
  margin: 20px 5px;
}
@media screen and (max-width: 1050px) {
  /* line 192, ../sass/style_1.scss */
  .nav_menu .main_logo {
    display: none;
  }
}
/* line 201, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(2) {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: #6c6c6c;
  font-weight: 580;
}
/* line 207, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(2) span {
  margin-left: 0px;
}
@media screen and (max-width: 1050px) {
  /* line 201, ../sass/style_1.scss */
  .nav_menu #menu_options > li:nth-child(2) {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    margin-left: 0px;
  }
}
/* line 219, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(3) {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  margin-bottom: 24px;
  margin-left: 25px;
  line-height: 15px;
  letter-spacing: 1px;
  margin-top: 40px;
  color: #6c6c6c;
}
/* line 32, ../sass/_base.scss */
.nav_menu #menu_options > li:nth-child(3) img:nth-child(1) {
  float: left;
}
/* line 223, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(3):hover {
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 1050px) {
  /* line 219, ../sass/style_1.scss */
  .nav_menu #menu_options > li:nth-child(3) {
    font-size: 0px;
  }
}
/* line 233, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(4), .nav_menu li:nth-child(5), .nav_menu li:nth-child(6) {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  margin-bottom: 24px;
  margin-left: 25px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #6c6c6c;
}
/* line 32, ../sass/_base.scss */
.nav_menu #menu_options > li:nth-child(4) img:nth-child(1), .nav_menu li:nth-child(5) img:nth-child(1), .nav_menu li:nth-child(6) img:nth-child(1) {
  float: left;
}
/* line 236, ../sass/style_1.scss */
.nav_menu #menu_options > li:nth-child(4):hover, .nav_menu li:nth-child(5):hover, .nav_menu li:nth-child(6):hover {
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 1050px) {
  /* line 233, ../sass/style_1.scss */
  .nav_menu #menu_options > li:nth-child(4), .nav_menu li:nth-child(5), .nav_menu li:nth-child(6) {
    font-size: 0px;
  }
}
/* line 246, ../sass/style_1.scss */
.nav_menu .bottom_sidebar {
  position: absolute;
  padding: 10px;
  bottom: 20px;
  left: 110px;
}
@media screen and (max-width: 1050px) {
  /* line 246, ../sass/style_1.scss */
  .nav_menu .bottom_sidebar {
    left: 55px;
  }
}
/* line 256, ../sass/style_1.scss */
.nav_menu .bottom_sidebar li:nth-child(1) {
  display: inline-block;
  padding-bottom: 15px;
  padding-right: 5px;
}
/* line 265, ../sass/style_1.scss */
.nav_menu .bottom_sidebar li:nth-child(2) {
  display: inline-block;
  padding-bottom: 15px;
}
/* line 275, ../sass/style_1.scss */
.nav_menu .bottom_sidebar li:nth-child(3) {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}
@media screen and (max-width: 1050px) {
  /* line 275, ../sass/style_1.scss */
  .nav_menu .bottom_sidebar li:nth-child(3) {
    font-size: 18px;
    margin-left: 0px;
  }
}
/* line 286, ../sass/style_1.scss */
.nav_menu .nav_buttons {
  margin-left: 20px;
}

/* line 291, ../sass/style_1.scss */
.active {
  width: 18px;
  height: 18px;
  background: url("../images/nav-buttons-s659d95dd08.png") -18px 0;
  /* &:hover {
       background: url("../images/nav-buttons-s659d95dd08.png") -18px 0;
       
   }*/
}

/* line 304, ../sass/style_1.scss */
.active_hp {
  background: url("../images/logo-s58c2fba883.png") -190px 0;
}

/* line 312, ../sass/style_1.scss */
.resume_section {
  margin-left: 220px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}
@media screen and (max-width: 1050px) {
  /* line 312, ../sass/style_1.scss */
  .resume_section {
    margin-left: 120px;
  }
}
@media screen and (max-width: 720px) {
  /* line 312, ../sass/style_1.scss */
  .resume_section {
    margin-left: 10px;
  }
}
/* line 327, ../sass/style_1.scss */
.resume_section h1 {
  text-align: center;
  color: #00b0be;
  font-family: Courier New;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px 5px 20px 5px;
  display: none;
}
@media screen and (max-width: 720px) {
  /* line 327, ../sass/style_1.scss */
  .resume_section h1 {
    display: block;
  }
}
@media screen and (max-width: 1050px) {
  /* line 327, ../sass/style_1.scss */
  .resume_section h1 {
    display: block;
  }
}

/* line 333, ../sass/style_1.scss */
.section_1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 720px) {
  /* line 333, ../sass/style_1.scss */
  .section_1 {
    display: block;
  }
}
@media screen and (max-width: 1050px) {
  /* line 333, ../sass/style_1.scss */
  .section_1 {
    display: block;
  }
}
/* line 346, ../sass/style_1.scss */
.section_1 .tech_skills {
  order: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 720px) {
  /* line 346, ../sass/style_1.scss */
  .section_1 .tech_skills {
    max-width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 346, ../sass/style_1.scss */
  .section_1 .tech_skills {
    display: block;
    margin-left: 10%;
  }
}
/* line 359, ../sass/style_1.scss */
.section_1 .tech_skills:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 365, ../sass/style_1.scss */
.section_1 .tech_skills img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 720px) {
  /* line 365, ../sass/style_1.scss */
  .section_1 .tech_skills img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 375, ../sass/style_1.scss */
.section_1 .tech_skills h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #920014;
}
@media screen and (max-width: 720px) {
  /* line 375, ../sass/style_1.scss */
  .section_1 .tech_skills h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 388, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table {
  margin: 10px 0px 20px 52px;
  min-width: 400px;
}
@media screen and (max-width: 720px) {
  /* line 388, ../sass/style_1.scss */
  .section_1 .tech_skills .tech_table {
    font-size: 16px;
    margin: 2px 0px 2px 5px;
    min-width: 300px;
  }
}
/* line 398, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table .javascript_hover, .section_1 .tech_skills .tech_table .css_hover, .section_1 .tech_skills .tech_table .adobe_hover {
  display: none;
  font-size: 16px;
  margin: 2px 15px 2px 2px;
  color: #6c6c6c;
  font-weight: 590;
}
/* line 407, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table h4 {
  display: block;
  font-size: 18px;
  color: black;
  padding: 10px 5px 5px 2px;
}
@media screen and (max-width: 720px) {
  /* line 407, ../sass/style_1.scss */
  .section_1 .tech_skills .tech_table h4 {
    font-size: 16px;
  }
}
/* line 418, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table .circle {
  display: inline-block;
  margin: 5px 15px 15px 5px;
  width: 12px;
  height: 12px;
  background: rgba(146, 0, 20, 0.6);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid;
  border-color: black;
}
@media screen and (max-width: 720px) {
  /* line 418, ../sass/style_1.scss */
  .section_1 .tech_skills .tech_table .circle {
    width: 5px;
    height: 5px;
  }
}
/* line 435, ../sass/style_1.scss */
.section_1 .tech_skills .tech_table .circle.empty {
  background: inherit;
}
/* line 442, ../sass/style_1.scss */
.section_1 .soft_skills {
  order: 3;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
}
@media screen and (max-width: 720px) {
  /* line 442, ../sass/style_1.scss */
  .section_1 .soft_skills {
    max-width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 442, ../sass/style_1.scss */
  .section_1 .soft_skills {
    display: block;
    margin-left: 10%;
  }
}
/* line 455, ../sass/style_1.scss */
.section_1 .soft_skills:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 461, ../sass/style_1.scss */
.section_1 .soft_skills img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 720px) {
  /* line 461, ../sass/style_1.scss */
  .section_1 .soft_skills img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 471, ../sass/style_1.scss */
.section_1 .soft_skills h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #027304;
}
@media screen and (max-width: 720px) {
  /* line 471, ../sass/style_1.scss */
  .section_1 .soft_skills h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 484, ../sass/style_1.scss */
.section_1 .soft_skills .soft_table {
  margin: 10px 0px 20px 52px;
  min-width: 400px;
}
@media screen and (max-width: 720px) {
  /* line 484, ../sass/style_1.scss */
  .section_1 .soft_skills .soft_table {
    margin: 2px 0px 2px 5px;
    min-width: 300px;
  }
}
/* line 492, ../sass/style_1.scss */
.section_1 .soft_skills .soft_table h4 {
  display: block;
  font-size: 18px;
  color: black;
  padding: 10px 5px 5px 2px;
}
@media screen and (max-width: 720px) {
  /* line 492, ../sass/style_1.scss */
  .section_1 .soft_skills .soft_table h4 {
    font-size: 16px;
    padding-top: 5px;
  }
}
/* line 504, ../sass/style_1.scss */
.section_1 .soft_skills .soft_table .circle_1 {
  display: inline-block;
  margin: 5px 15px 15px 5px;
  width: 12px;
  height: 12px;
  background: rgba(2, 115, 4, 0.6);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid;
  border-color: black;
}
@media screen and (max-width: 720px) {
  /* line 504, ../sass/style_1.scss */
  .section_1 .soft_skills .soft_table .circle_1 {
    width: 5px;
    height: 5px;
  }
}
/* line 521, ../sass/style_1.scss */
.section_1 .soft_skills .soft_table .circle_1.empty {
  background: inherit;
}
/* line 529, ../sass/style_1.scss */
.section_1 .special {
  order: 2;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
  letter-spacing: 0px;
}
@media screen and (max-width: 720px) {
  /* line 529, ../sass/style_1.scss */
  .section_1 .special {
    max-width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 529, ../sass/style_1.scss */
  .section_1 .special {
    display: block;
    margin-left: 10%;
  }
}
/* line 544, ../sass/style_1.scss */
.section_1 .special:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 550, ../sass/style_1.scss */
.section_1 .special .special_wrapper {
  min-width: 400px;
}
@media screen and (max-width: 720px) {
  /* line 550, ../sass/style_1.scss */
  .section_1 .special .special_wrapper {
    min-width: 300px;
  }
}
/* line 558, ../sass/style_1.scss */
.section_1 .special img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 720px) {
  /* line 558, ../sass/style_1.scss */
  .section_1 .special img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 568, ../sass/style_1.scss */
.section_1 .special h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #210fac;
}
@media screen and (max-width: 720px) {
  /* line 568, ../sass/style_1.scss */
  .section_1 .special h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 581, ../sass/style_1.scss */
.section_1 .special .frontEnd {
  display: block;
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 30px;
  max-width: 400px;
  border-bottom: 1px solid #b9b9b9;
}
@media screen and (max-width: 720px) {
  /* line 581, ../sass/style_1.scss */
  .section_1 .special .frontEnd {
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 4px;
    max-width: 250px;
  }
}
/* line 597, ../sass/style_1.scss */
.section_1 .special .frontEnd img:nth-child(1) {
  margin-top: 6px;
  margin-right: 30px;
  padding: 0px 5px 5px 5px;
  display: inline-block;
  float: left;
}
/* line 605, ../sass/style_1.scss */
.section_1 .special .frontEnd h4 {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: 600;
  margin: 15px 2px 5px 5px;
  padding: 5px 5px 5px 2px;
}
@media screen and (max-width: 720px) {
  /* line 605, ../sass/style_1.scss */
  .section_1 .special .frontEnd h4 {
    margin-top: 25px;
  }
}
/* line 619, ../sass/style_1.scss */
.section_1 .special .frontEnd h6 {
  color: #6c6c6c;
}
@media screen and (max-width: 720px) {
  /* line 619, ../sass/style_1.scss */
  .section_1 .special .frontEnd h6 {
    display: none;
  }
}
/* line 628, ../sass/style_1.scss */
.section_1 .special .design {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  padding-bottom: 30px;
  max-width: 400px;
  border-bottom: 1px solid #b9b9b9;
}
@media screen and (max-width: 720px) {
  /* line 628, ../sass/style_1.scss */
  .section_1 .special .design {
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 4px;
    max-width: 250px;
  }
}
/* line 643, ../sass/style_1.scss */
.section_1 .special .design img:nth-child(1) {
  margin-top: 6px;
  margin-right: 30px;
  padding: 0px 5px 5px 5px;
  display: inline-block;
  float: left;
}
/* line 651, ../sass/style_1.scss */
.section_1 .special .design h4 {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: 600;
  margin: 15px 2px 5px 5px;
  padding: 5px 5px 5px 2px;
}
@media screen and (max-width: 720px) {
  /* line 651, ../sass/style_1.scss */
  .section_1 .special .design h4 {
    margin-bottom: 30px;
  }
}
/* line 664, ../sass/style_1.scss */
.section_1 .special .design h6 {
  color: #6c6c6c;
}
@media screen and (max-width: 720px) {
  /* line 664, ../sass/style_1.scss */
  .section_1 .special .design h6 {
    display: none;
  }
}
/* line 673, ../sass/style_1.scss */
.section_1 .special .agile {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  padding-bottom: 30px;
  max-width: 400px;
}
@media screen and (max-width: 720px) {
  /* line 673, ../sass/style_1.scss */
  .section_1 .special .agile {
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 4px;
    max-width: 250px;
  }
}
/* line 687, ../sass/style_1.scss */
.section_1 .special .agile img:nth-child(1) {
  margin-top: 6px;
  margin-right: 30px;
  padding: 0px 5px 5px 5px;
  display: inline-block;
  float: left;
}
/* line 695, ../sass/style_1.scss */
.section_1 .special .agile h4 {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: 600;
  margin: 15px 2px 5px 5px;
  padding: 5px 5px 5px 2px;
}
@media screen and (max-width: 720px) {
  /* line 695, ../sass/style_1.scss */
  .section_1 .special .agile h4 {
    margin-bottom: 20px;
  }
}
/* line 708, ../sass/style_1.scss */
.section_1 .special .agile h6 {
  color: #6c6c6c;
}
@media screen and (max-width: 720px) {
  /* line 708, ../sass/style_1.scss */
  .section_1 .special .agile h6 {
    display: none;
  }
}
/* line 718, ../sass/style_1.scss */
.section_1 .work_exp {
  order: 4;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
  letter-spacing: 0px;
}
@media screen and (max-width: 720px) {
  /* line 718, ../sass/style_1.scss */
  .section_1 .work_exp {
    max-width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 718, ../sass/style_1.scss */
  .section_1 .work_exp {
    display: block;
    margin-left: 10%;
  }
}
/* line 733, ../sass/style_1.scss */
.section_1 .work_exp:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 739, ../sass/style_1.scss */
.section_1 .work_exp img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 720px) {
  /* line 739, ../sass/style_1.scss */
  .section_1 .work_exp img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 750, ../sass/style_1.scss */
.section_1 .work_exp h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #daa520;
}
@media screen and (max-width: 720px) {
  /* line 750, ../sass/style_1.scss */
  .section_1 .work_exp h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 764, ../sass/style_1.scss */
.section_1 .work_exp .work_table {
  margin: 20px 20px 20px 50px;
}
@media screen and (max-width: 720px) {
  /* line 764, ../sass/style_1.scss */
  .section_1 .work_exp .work_table {
    margin: 2px 2px 2px 5px;
  }
}
/* line 771, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas {
  margin-bottom: 40px;
  margin-top: 40px;
}
@media screen and (max-width: 720px) {
  /* line 771, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .resaas {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
/* line 780, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas img {
  display: block;
  margin: 0px 15px 5px 0px;
  float: left;
}
/* line 788, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas_text h6 {
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  padding-top: 8px;
}
/* line 797, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas_text h3 {
  font-size: 22px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 25px;
}
@media screen and (max-width: 720px) {
  /* line 797, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .resaas_text h3 {
    font-size: 18px;
  }
}
/* line 809, ../sass/style_1.scss */
.section_1 .work_exp .work_table .resaas_text h4 {
  font-size: 18px;
  color: #6c6c6c;
  font-weight: 500;
  margin-left: 135px;
}
@media screen and (max-width: 720px) {
  /* line 809, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .resaas_text h4 {
    font-size: 16px;
  }
}
/* line 822, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear {
  margin-bottom: 50px;
  margin-top: 50px;
}
@media screen and (max-width: 720px) {
  /* line 822, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .netgear {
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
/* line 831, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear img {
  display: block;
  margin: 0px 35px 5px 0px;
  float: left;
}
/* line 840, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear_text h6 {
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  padding-top: 8px;
}
/* line 850, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear_text h3 {
  font-size: 22px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 25px;
}
@media screen and (max-width: 720px) {
  /* line 850, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .netgear_text h3 {
    font-size: 18px;
  }
}
/* line 864, ../sass/style_1.scss */
.section_1 .work_exp .work_table .netgear_text h4 {
  font-size: 18px;
  color: #6c6c6c;
  font-weight: 500;
  margin-left: 105px;
}
@media screen and (max-width: 720px) {
  /* line 864, ../sass/style_1.scss */
  .section_1 .work_exp .work_table .netgear_text h4 {
    font-size: 16px;
  }
}
/* line 879, ../sass/style_1.scss */
.section_1 .vol_exp {
  order: 5;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
  letter-spacing: 0px;
}
@media screen and (max-width: 720px) {
  /* line 879, ../sass/style_1.scss */
  .section_1 .vol_exp {
    max-width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 879, ../sass/style_1.scss */
  .section_1 .vol_exp {
    display: block;
    margin-left: 10%;
  }
}
/* line 893, ../sass/style_1.scss */
.section_1 .vol_exp:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 899, ../sass/style_1.scss */
.section_1 .vol_exp img:nth-child(1) {
  margin-left: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 720px) {
  /* line 899, ../sass/style_1.scss */
  .section_1 .vol_exp img:nth-child(1) {
    margin-left: 5px;
    margin-top: 5px;
  }
}
/* line 909, ../sass/style_1.scss */
.section_1 .vol_exp h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 5px;
  color: #00c0ff;
}
@media screen and (max-width: 720px) {
  /* line 909, ../sass/style_1.scss */
  .section_1 .vol_exp h2 {
    font-size: 32px;
    margin-left: 15px;
    margin-top: 10px;
  }
}
/* line 923, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table {
  margin: 20px 20px 20px 50px;
  padding-bottom: 40px;
  border-left: 1px solid black;
}
@media screen and (max-width: 720px) {
  /* line 923, ../sass/style_1.scss */
  .section_1 .vol_exp .vol_table {
    margin: 5px 5px 5px 10px;
  }
}
/* line 933, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text {
  margin: 40px 10px 20px 20px;
}
/* line 936, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text img {
  float: right;
  margin: 0px 0px 0px 0px;
}
/* line 941, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text h6 {
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  padding-top: 8px;
}
/* line 951, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text h3 {
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 0px;
}
/* line 960, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .solar_text h4 {
  font-size: 16px;
  color: #6c6c6c;
  font-weight: 500;
  margin-left: 0px;
}
/* line 969, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon {
  margin: 50px 10px 0px 20px;
}
/* line 972, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon img {
  float: right;
  margin: 0px 0px 0px 0px;
}
/* line 977, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon h6 {
  font-size: 14px;
  color: black;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 10px;
  padding-top: 8px;
}
/* line 987, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon h3 {
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  margin-left: 0px;
}
/* line 996, ../sass/style_1.scss */
.section_1 .vol_exp .vol_table .silicon h4 {
  font-size: 16px;
  color: #6c6c6c;
  font-weight: 500;
  margin-left: 0px;
}
/* line 1006, ../sass/style_1.scss */
.section_1 .hobbies {
  order: 6;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: 1px solid;
  border-color: #c1c1c1;
  width: 500px;
  max-width: 500px;
  margin: 5px 5px 10px 5px;
  letter-spacing: 2px;
  letter-spacing: 0px;
}
@media screen and (max-width: 720px) {
  /* line 1006, ../sass/style_1.scss */
  .section_1 .hobbies {
    max-width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1006, ../sass/style_1.scss */
  .section_1 .hobbies {
    display: block;
    margin-left: 10%;
  }
}
/* line 1020, ../sass/style_1.scss */
.section_1 .hobbies:hover {
  border: none;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -moz-box-shadow: #b7b4b4 2px 2px 90px;
  -webkit-box-shadow: #b7b4b4 2px 2px 90px;
  box-shadow: #b7b4b4 2px 2px 90px;
}
/* line 1026, ../sass/style_1.scss */
.section_1 .hobbies img:nth-child(1) {
  margin-left: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 720px) {
  /* line 1026, ../sass/style_1.scss */
  .section_1 .hobbies img:nth-child(1) {
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 1036, ../sass/style_1.scss */
.section_1 .hobbies h2 {
  font-size: 52px;
  margin-left: 50px;
  margin-top: 10px;
  color: #13dcd0;
}
@media screen and (max-width: 720px) {
  /* line 1036, ../sass/style_1.scss */
  .section_1 .hobbies h2 {
    font-size: 32px;
    margin-left: 5px;
    margin-top: 2px;
  }
}
/* line 1049, ../sass/style_1.scss */
.section_1 .hobbies .first_section {
  font-size: 18px;
  font-weight: 550;
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 300px;
  min-width: 200px;
  padding: 10px;
}
@media screen and (max-width: 720px) {
  /* line 1049, ../sass/style_1.scss */
  .section_1 .hobbies .first_section {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 120px;
    min-width: 100px;
  }
}
/* line 1065, ../sass/style_1.scss */
.section_1 .hobbies .first_section li {
  text-align: right;
  margin: 10px 0px 0px 0px;
}
/* line 1071, ../sass/style_1.scss */
.section_1 .hobbies .second_section {
  font-size: 18px;
  font-weight: 550;
  margin-left: 250px;
  margin-top: 10px;
  padding: 10px;
}
@media screen and (max-width: 720px) {
  /* line 1071, ../sass/style_1.scss */
  .section_1 .hobbies .second_section {
    margin-left: 130px;
    margin-top: 10px;
    min-width: 100px;
  }
}
/* line 1084, ../sass/style_1.scss */
.section_1 .hobbies .second_section li {
  margin: 0px 0px 10px 0px;
}

/* line 1093, ../sass/style_1.scss */
.alt-section {
  margin-left: 220px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(219, 219, 219, 0.62);
  overflow-x: hidden;
}
@media screen and (max-width: 1050px) {
  /* line 1093, ../sass/style_1.scss */
  .alt-section {
    margin-left: 120px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1093, ../sass/style_1.scss */
  .alt-section {
    margin-left: 0px;
  }
}
/* line 1111, ../sass/style_1.scss */
.alt-section h1 {
  text-align: center;
  color: #00b0be;
  font-family: Courier New;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px 5px 20px 5px;
  display: none;
}
@media screen and (max-width: 720px) {
  /* line 1111, ../sass/style_1.scss */
  .alt-section h1 {
    display: block;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1111, ../sass/style_1.scss */
  .alt-section h1 {
    display: block;
  }
}

/* line 1117, ../sass/style_1.scss */
.work-belt {
  width: 300%;
  position: relative;
  left: 0%;
  -webkit-transition-property: left;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  /* Standard syntax */
  transition-property: left;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

/* line 1132, ../sass/style_1.scss */
.thumb-wrap, .project-wrap {
  width: 50%;
  float: left;
}

/* line 1139, ../sass/style_1.scss */
#work_container {
  margin-left: 5px;
  padding: 5px;
}
@media screen and (max-width: 1050px) {
  /* line 1139, ../sass/style_1.scss */
  #work_container {
    margin-left: 20px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1139, ../sass/style_1.scss */
  #work_container {
    margin-left: 0px;
  }
}

/* line 1154, ../sass/style_1.scss */
.work-section-1 {
  max-width: 1300px;
  width: 50%;
  padding: 10px;
  justify-content: center;
  margin-left: 8%;
}
@media screen and (max-width: 1050px) {
  /* line 1154, ../sass/style_1.scss */
  .work-section-1 {
    display: block;
    max-width: 400px;
    margin-left: 10%;
  }
  /* line 1166, ../sass/style_1.scss */
  .work-section-1 .proj-1, .work-section-1 .proj-2, .work-section-1 .proj-3, .work-section-1 .proj-4, .work-section-1 .proj-5, .work-section-1 .proj-6 {
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1154, ../sass/style_1.scss */
  .work-section-1 {
    display: block;
    max-width: 250px;
    margin-left: 1%;
  }
}
/* line 1183, ../sass/style_1.scss */
.work-section-1 .proj-1 {
  display: inline-block;
  min-width: 300px;
  height: 275px;
  margin: 0px;
  width: 400px;
  background: rgba(201, 144, 101, 0.74) url("../images/work/proj-1/homescreen.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  /* line 1183, ../sass/style_1.scss */
  .work-section-1 .proj-1 {
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1183, ../sass/style_1.scss */
  .work-section-1 .proj-1 {
    width: 400px;
  }
}
/* line 1191, ../sass/style_1.scss */
.work-section-1 .proj-1 .inner-project {
  display: inherit;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(209, 209, 209, 0.83);
  padding: 5%;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  /* Standard syntax */
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media screen and (max-width: 1050px) {
  /* line 1191, ../sass/style_1.scss */
  .work-section-1 .proj-1 .inner-project {
    opacity: 1;
  }
}
/* line 134, ../sass/_base.scss */
.work-section-1 .proj-1 .inner-project span {
  display: block;
  text-align: center;
  font-family: Courier New;
  font-size: 50px;
  font-style: bold;
  line-height: 1.2;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 720px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-1 .inner-project span {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-1 .inner-project span {
    margin-left: 2px;
  }
}
/* line 159, ../sass/_base.scss */
.work-section-1 .proj-1 .inner-project img {
  margin-left: 35%;
}
/* line 1196, ../sass/style_1.scss */
.work-section-1 .proj-1:hover .inner-project {
  opacity: 1;
}
/* line 1204, ../sass/style_1.scss */
.work-section-1 .proj-2 {
  display: inline-block;
  min-width: 300px;
  height: 275px;
  margin: 0px;
  width: 700px;
  background: rgba(201, 144, 101, 0.74) url("../images/work/proj-2/mainscreen.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  /* line 1204, ../sass/style_1.scss */
  .work-section-1 .proj-2 {
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1204, ../sass/style_1.scss */
  .work-section-1 .proj-2 {
    width: 400px;
  }
}
/* line 1212, ../sass/style_1.scss */
.work-section-1 .proj-2 .inner-project {
  display: inherit;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(209, 209, 209, 0.83);
  padding: 5%;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  /* Standard syntax */
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media screen and (max-width: 1050px) {
  /* line 1212, ../sass/style_1.scss */
  .work-section-1 .proj-2 .inner-project {
    opacity: 1;
  }
}
/* line 134, ../sass/_base.scss */
.work-section-1 .proj-2 .inner-project span {
  display: block;
  text-align: center;
  font-family: Courier New;
  font-size: 50px;
  font-style: bold;
  line-height: 1.2;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 720px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-2 .inner-project span {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-2 .inner-project span {
    margin-left: 2px;
  }
}
/* line 159, ../sass/_base.scss */
.work-section-1 .proj-2 .inner-project img {
  margin-left: 35%;
}
/* line 1217, ../sass/style_1.scss */
.work-section-1 .proj-2:hover .inner-project {
  opacity: 1;
}
/* line 1225, ../sass/style_1.scss */
.work-section-1 .proj-3 {
  display: inline-block;
  min-width: 300px;
  height: 275px;
  margin: 0px;
  width: 600px;
  background: rgba(201, 144, 101, 0.74) url("../images/work/proj-3/mainscreen.png") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  /* line 1225, ../sass/style_1.scss */
  .work-section-1 .proj-3 {
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1225, ../sass/style_1.scss */
  .work-section-1 .proj-3 {
    width: 400px;
  }
}
/* line 1233, ../sass/style_1.scss */
.work-section-1 .proj-3 .inner-project {
  display: inherit;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(209, 209, 209, 0.83);
  padding: 5%;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  /* Standard syntax */
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media screen and (max-width: 1050px) {
  /* line 1233, ../sass/style_1.scss */
  .work-section-1 .proj-3 .inner-project {
    opacity: 1;
  }
}
/* line 134, ../sass/_base.scss */
.work-section-1 .proj-3 .inner-project span {
  display: block;
  text-align: center;
  font-family: Courier New;
  font-size: 50px;
  font-style: bold;
  line-height: 1.2;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 720px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-3 .inner-project span {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-3 .inner-project span {
    margin-left: 2px;
  }
}
/* line 159, ../sass/_base.scss */
.work-section-1 .proj-3 .inner-project img {
  margin-left: 35%;
}
/* line 1238, ../sass/style_1.scss */
.work-section-1 .proj-3:hover .inner-project {
  opacity: 1;
}
/* line 1246, ../sass/style_1.scss */
.work-section-1 .proj-4 {
  display: inline-block;
  min-width: 300px;
  height: 275px;
  margin: 0px;
  width: 500px;
  background: #b9b9b9 url("") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  /* line 1246, ../sass/style_1.scss */
  .work-section-1 .proj-4 {
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1246, ../sass/style_1.scss */
  .work-section-1 .proj-4 {
    width: 400px;
  }
}
/* line 1254, ../sass/style_1.scss */
.work-section-1 .proj-4 .inner-project {
  display: inherit;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(209, 209, 209, 0.83);
  padding: 5%;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  /* Standard syntax */
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media screen and (max-width: 1050px) {
  /* line 1254, ../sass/style_1.scss */
  .work-section-1 .proj-4 .inner-project {
    opacity: 1;
  }
}
/* line 134, ../sass/_base.scss */
.work-section-1 .proj-4 .inner-project span {
  display: block;
  text-align: center;
  font-family: Courier New;
  font-size: 50px;
  font-style: bold;
  line-height: 1.2;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 720px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-4 .inner-project span {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-4 .inner-project span {
    margin-left: 2px;
  }
}
/* line 159, ../sass/_base.scss */
.work-section-1 .proj-4 .inner-project img {
  margin-left: 35%;
}
/* line 1259, ../sass/style_1.scss */
.work-section-1 .proj-4:hover .inner-project {
  opacity: 1;
}
/* line 1267, ../sass/style_1.scss */
.work-section-1 .proj-5 {
  display: inline-block;
  min-width: 300px;
  height: 275px;
  margin: 0px;
  width: 700px;
  background: #b9b9b9 url("") no-repeat center center;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  /* line 1267, ../sass/style_1.scss */
  .work-section-1 .proj-5 {
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1267, ../sass/style_1.scss */
  .work-section-1 .proj-5 {
    width: 400px;
  }
}
/* line 1274, ../sass/style_1.scss */
.work-section-1 .proj-5 .inner-project {
  display: inherit;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(209, 209, 209, 0.83);
  padding: 5%;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  /* Standard syntax */
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media screen and (max-width: 1050px) {
  /* line 1274, ../sass/style_1.scss */
  .work-section-1 .proj-5 .inner-project {
    opacity: 1;
  }
}
/* line 134, ../sass/_base.scss */
.work-section-1 .proj-5 .inner-project span {
  display: block;
  text-align: center;
  font-family: Courier New;
  font-size: 50px;
  font-style: bold;
  line-height: 1.2;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 720px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-5 .inner-project span {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-5 .inner-project span {
    margin-left: 2px;
  }
}
/* line 159, ../sass/_base.scss */
.work-section-1 .proj-5 .inner-project img {
  margin-left: 35%;
}
/* line 1279, ../sass/style_1.scss */
.work-section-1 .proj-5:hover .inner-project {
  opacity: 1;
}
/* line 1287, ../sass/style_1.scss */
.work-section-1 .proj-6 {
  display: inline-block;
  min-width: 300px;
  height: 275px;
  margin: 0px;
  width: 400px;
  background: #b9b9b9 url("") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 720px) {
  /* line 1287, ../sass/style_1.scss */
  .work-section-1 .proj-6 {
    width: 300px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1287, ../sass/style_1.scss */
  .work-section-1 .proj-6 {
    width: 400px;
  }
}
/* line 1295, ../sass/style_1.scss */
.work-section-1 .proj-6 .inner-project {
  display: inherit;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(209, 209, 209, 0.83);
  padding: 5%;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  /* Standard syntax */
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media screen and (max-width: 1050px) {
  /* line 1295, ../sass/style_1.scss */
  .work-section-1 .proj-6 .inner-project {
    opacity: 1;
  }
}
/* line 134, ../sass/_base.scss */
.work-section-1 .proj-6 .inner-project span {
  display: block;
  text-align: center;
  font-family: Courier New;
  font-size: 50px;
  font-style: bold;
  line-height: 1.2;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 720px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-6 .inner-project span {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 134, ../sass/_base.scss */
  .work-section-1 .proj-6 .inner-project span {
    margin-left: 2px;
  }
}
/* line 159, ../sass/_base.scss */
.work-section-1 .proj-6 .inner-project img {
  margin-left: 35%;
}
/* line 1300, ../sass/style_1.scss */
.work-section-1 .proj-6:hover .inner-project {
  opacity: 1;
}

/* line 1309, ../sass/style_1.scss */
.project_container {
  max-width: 960px;
  margin: 0px;
  margin-left: 20%;
  display: none;
}
@media screen and (max-width: 720px) {
  /* line 1309, ../sass/style_1.scss */
  .project_container {
    margin-left: 2%;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1309, ../sass/style_1.scss */
  .project_container {
    margin-left: 5%;
  }
}
/* line 1327, ../sass/style_1.scss */
.project_container h4 {
  display: inline-block;
  position: relative;
  left: -44px;
  color: #c99065;
  font-family: Courier New;
  font-size: 72px;
  font-style: bold;
  line-height: 1.2;
}
@media screen and (max-width: 1050px) {
  /* line 1327, ../sass/style_1.scss */
  .project_container h4 {
    margin-left: 60px;
  }
}
/* line 1350, ../sass/style_1.scss */
.project_container img {
  max-width: 100%;
  margin-bottom: 20px;
}
/* line 1355, ../sass/style_1.scss */
.project_container .work-return {
  position: relative;
  left: -64px;
  display: inline-block;
  vertical-align: text-bottom;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.5;
  margin-bottom: 5px;
}
@media screen and (max-width: 720px) {
  /* line 1355, ../sass/style_1.scss */
  .project_container .work-return {
    left: 0px;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1355, ../sass/style_1.scss */
  .project_container .work-return {
    left: 0px;
  }
}
/* line 1378, ../sass/style_1.scss */
.project_container .work-return:hover {
  opacity: 1;
}

/* line 1387, ../sass/style_1.scss */
.readme {
  background: #eee;
  border-radius: 10px;
  padding: 10px;
  width: 600px;
}
@media screen and (max-width: 720px) {
  /* line 1387, ../sass/style_1.scss */
  .readme {
    width: 350px;
    margin: 2px;
    padding: 2px;
    position: relative;
    right: 28px;
  }
}
/* line 1399, ../sass/style_1.scss */
.readme h3 {
  font-size: 24px;
  font-family: "Times New Roman", Georgia, Serif;
  color: #0783b1;
  margin: 5px;
}
@media screen and (max-width: 720px) {
  /* line 1399, ../sass/style_1.scss */
  .readme h3 {
    font-size: 16px;
  }
}
/* line 1408, ../sass/style_1.scss */
.readme p {
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 5px;
  line-height: 1.5;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* line 1416, ../sass/style_1.scss */
.readme p a {
  color: #ad3333;
  text-decoration: underline;
}
@media screen and (max-width: 720px) {
  /* line 1408, ../sass/style_1.scss */
  .readme p {
    font-size: 12px;
  }
}
/* line 1426, ../sass/style_1.scss */
.readme ul {
  font-size: 16px;
  letter-spacing: 2px;
  margin: 10px;
  line-height: 1.5;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
@media screen and (max-width: 720px) {
  /* line 1426, ../sass/style_1.scss */
  .readme ul {
    font-size: 12px;
  }
}

/* line 1443, ../sass/style_1.scss */
.onImages, .offImages {
  margin: 10px;
  cursor: pointer;
  background: #d99734;
  background-image: -webkit-linear-gradient(top, #d99734, #d99734);
  background-image: -moz-linear-gradient(top, #d99734, #d99734);
  background-image: -ms-linear-gradient(top, #d99734, #d99734);
  background-image: -o-linear-gradient(top, #d99734, #d99734);
  background-image: linear-gradient(to bottom, #d99734, #d99734);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 16px;
  padding: 7px 7px 7px 7px;
  text-decoration: none;
}

/* line 1462, ../sass/style_1.scss */
.onImages:hover, .offImages:hover {
  cursor: pointer;
  background: #b07b2c;
  background-image: -webkit-linear-gradient(top, #b07b2c, #b07b2c);
  background-image: -moz-linear-gradient(top, #b07b2c, #b07b2c);
  background-image: -ms-linear-gradient(top, #b07b2c, #b07b2c);
  background-image: -o-linear-gradient(top, #b07b2c, #b07b2c);
  background-image: linear-gradient(to bottom, #b07b2c, #b07b2c);
  text-decoration: none;
}

/* line 1474, ../sass/style_1.scss */
.bio_section {
  width: 100%;
  height: 100%;
}
/* line 1477, ../sass/style_1.scss */
.bio_section h1 {
  text-align: center;
  color: #00b0be;
  font-family: Courier New;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px 5px 20px 5px;
  display: none;
}
@media screen and (max-width: 720px) {
  /* line 1477, ../sass/style_1.scss */
  .bio_section h1 {
    display: block;
  }
}
@media screen and (max-width: 1050px) {
  /* line 1477, ../sass/style_1.scss */
  .bio_section h1 {
    display: block;
  }
}

/* line 1482, ../sass/style_1.scss */
.bio_info {
  display: inline-block;
  position: relative;
  left: 250px;
  width: 700px;
}
@media screen and (max-width: 1050px) {
  /* line 1482, ../sass/style_1.scss */
  .bio_info {
    left: 125px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1482, ../sass/style_1.scss */
  .bio_info {
    left: 1px;
  }
}
/* line 1494, ../sass/style_1.scss */
.bio_info #myPicture {
  display: inline-block;
  position: relative;
  left: 110px;
  margin: 10px;
  top: 10px;
}
@media screen and (max-width: 1460px) {
  /* line 1494, ../sass/style_1.scss */
  .bio_info #myPicture {
    display: block;
    margin: auto;
    left: 0px;
  }
}

/* line 1511, ../sass/style_1.scss */
.attributes_section {
  position: relative;
  left: 5%;
  top: 50px;
  display: inline-block;
  width: 620px;
  background: rgba(255, 186, 0, 0.81);
  border-radius: 5px;
}
@media screen and (max-width: 720px) {
  /* line 1511, ../sass/style_1.scss */
  .attributes_section {
    left: 0px;
  }
}
/* line 1524, ../sass/style_1.scss */
.attributes_section h2 {
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 5px 2px 5px;
}
/* line 1533, ../sass/style_1.scss */
.attributes_section div {
  display: inline-block;
  width: 100px;
  margin: 10px;
  text-align: center;
}
/* line 1538, ../sass/style_1.scss */
.attributes_section div img {
  display: inline-block;
}
/* line 1542, ../sass/style_1.scss */
.attributes_section div h2 {
  font-size: 22px;
  vertical-align: text-bottom;
}

/* line 1551, ../sass/style_1.scss */
.bio_text {
  display: inline-block;
  position: absolute;
  right: 150px;
  margin-top: 25px;
}
@media screen and (max-width: 1460px) {
  /* line 1551, ../sass/style_1.scss */
  .bio_text {
    display: block;
    margin: auto;
    margin-top: 50px;
  }
}
@media screen and (max-width: 720px) {
  /* line 1551, ../sass/style_1.scss */
  .bio_text {
    left: 6px;
  }
}
/* line 1568, ../sass/style_1.scss */
.bio_text p {
  margin: 10px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive, 'sans-serif';
  color: black;
  width: 510px;
  letter-spacing: 2px;
  line-height: 1.5;
  background-color: #F7F5F5;
  border: 3px solid #e1dfdf;
  padding: 10px;
  border-radius: 10px;
}
/* line 1580, ../sass/style_1.scss */
.bio_text p span {
  background-color: #fff;
  color: #ffba00;
  border-radius: 10px;
}
/* line 1585, ../sass/style_1.scss */
.bio_text p a {
  text-decoration: underline;
}
@media screen and (max-width: 720px) {
  /* line 1568, ../sass/style_1.scss */
  .bio_text p {
    font-size: 14px;
    width: 350px;
  }
}
