<button type="button" class="onImages" onClick="onImage()">Show Images</button>
<button type="button" class="offImages" onClick="offImage()">Hide Images</button>
<ul class="carousel">
    <li><img src="../images/work/proj-2/mainscreen.png" ></li>
    <li><img src="../images/work/proj-2/bottomscreen.png" ></li>
</ul>
<div class="readme">
<h3>Introduction:</h3>
<p>My first Django - A Python Web Framework application from scratch. - GoSocial It is a twitter-based-website which allows you to create and send out spontaneous/micro events to all your followers on the go! <br /><br /> <a href="https://bitbucket.org/utkarshsaxena/gosocial" target="_blank">View in Bitbucket</a> <br /><br /></p>
<h3>Technologies:</h3>
<ul>
    <li>&bull; Bootstrap</li>
    <li>&bull; Python</li>
    <li>&bull; Python Web Framework - Django</li>

</ul>

<h3>Purpose:</h3>
<ul>
    <li>&bull; Learn and apply Django framework to create an application.</li>
    <li>&bull; Learn and apply Bootstrap to design the homepage of the application.</li>

</ul>

<h3>Procedure:</h3>
<ul>
    <li>1. Install Python ( https://www.python.org/ )</li>
    <li>2. Download Django - A Web Framework for Python ( https://www.djangoproject.com/ )</li>
    <li>3. Open the Command Prompt and execute the following command in the folder: python manage.py runserver</li>
</ul>
<h3>Timestamp:</h3>
<p><strong>August 2014 – November 2014</strong></p>
    </div>

<script>$('.carousel').hide();
    $('.offImages').hide();</script>