<button type="button" class="onImages" onClick="onImage()">Show Images</button>
<button type="button" class="offImages" onClick="offImage()">Hide Images</button>

<ul class="carousel">
    <li><img src="../images/work/proj-1/homescreen.png" ></li>
    <li><img src="../images/work/proj-1/gamescreen.png" ></li>
    <li><img src="../images/work/proj-1/gamescreen2.png"></li>
    <li><img src="../images/work/proj-1/endscreen.png" ></li>
</ul>

<div class="readme">

    <h3>Introduction:</h3>  

        <p>My first arcade game from scratch - <strong>Flying Caveman</strong><br /><br /><a href="https://bitbucket.org/utkarshsaxena/arcade-game" target="_blank">View in Bitbucket</a> <br /><br /></p> 

    <h3>Technologies:</h3>
        <ul>
            <li>&bull; Python</li>
            <li>&bull; Pygame Library</li>

        </ul>


    <h3>Purpose:</h3>

    <p>&bull; Learn and apply Python Programming Language to create an application.</p>

    <h3>Procedure:</h3>
        <ul>
            <li>1. Install Python. ( https://www.python.org/ )</li>
            <li>2. Install the Pygame library. ( http://pygame.org/ )</li>
            <li>3. Execute/Run the file "#custom input box #workingFinal.py"</li>
            <li>4. Enter password: apple</li>
        </ul>
    <h3>Timestamp:</h3>

    <p><strong>May 2014 – July 2014</strong></p>
    
<script>$('.carousel').hide();
    $('.offImages').hide();</script>

</div>

<script>



</script>
