@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/sprites";
@import "compass/typography/links";
@import "compass/utilities/color";
@import "compass/utilities/tables";

$grey: #6c6c6c;
$reddish: #920014;
$brownish: #c6713d;
$accent: #c99065;
$yellowish: rgb(196, 191, 51);
$break-small: 520px;
$break-medium: 942px;
$break-large: 1280px;

//Importing other stylsheets


@mixin nav_text {
    font: {
        family: 'Open Sans Condensed', sans-serif;
        size: 22px;        
    }
    margin-bottom: 24px;
    margin-left: 25px;
    line-height: 15px;
    letter-spacing: 1px;
    
    img:nth-child(1) {float:left;}
}

@mixin red_buttons {
    text-align: center;
    margin: 5px 10px 10px 10px;
    padding: 2px;
    max-width: 115px;
    border: 2px solid;
    border-radius: 10px;
    color: $reddish;
}

@mixin flex_box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin resume_block {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border: 1px solid;
    border-color:  #c1c1c1;
    width: 500px;
    max-width: 500px;
    margin: 5px 5px 10px 5px;
    letter-spacing: 2px; 
}

@mixin work_block {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border: 1px solid; //remove later
    border-color:  #c1c1c1;
    width: 300px;
    max-width: 400px;
    margin: 55px 105px 10px 5px;
    letter-spacing: 2px; 
    
}











