//------------------------------------------HouseKeeping/Imports Section --------------------------------------------------------------------------
@import "base";
$logo-layout: horizontal;
@import "logo/*.png";
@include all-logo-sprites;

$nav-buttons-layout: horizontal;
@import "nav-buttons/*.png";
@include all-nav-buttons-sprites;


//-----------------------------------------------HTML Section----------------------------------------------------------------------------------------------

html {
    height:100%;
    
}

body {
    /*background: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;*/
    background-color: rgb(247, 245, 245);
    height:100%;
}

a {
    text-decoration: none;
    color: inherit;
    
    &:hover {
        color:inherit;
        }
}

.gap {
    width:  100%;
    height: 1000px;
}

//----------------------------------------------------------- Homepage Section ------------------------------------------------------------------------

#homepage_bg {
    height: 100%;
    width:100%;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    @media screen and (max-width: $break-medium) {
        height: 100%;
        width:100%;
        background: url("../images/background_mobile.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;        
    }  
}

#arrow{
    position: absolute;
    left: 50%;
    bottom: 5%;
    
    @media screen and (max-width: $break-medium) {
        left: 40%; 
    } 
}

.homepage_text {
    max-width: 900px;
    position: absolute;
    top: 80px;
    left: 230px;
    padding: 10px;
    background-color: rgba(129, 129, 129, 0.13);
    border-radius: 30px;
    
    @media screen and (max-width: $break-medium) {
        top: 200px;
        left: 150px;
        background-color: rgba(0, 0, 0, 0.15);
    }
    
    @media screen and (max-width: $break-small) {
        top: 100px;
        left: 40px;
        right: 40px;
    }
    
    @media screen and (max-width: $break-large) {
    }
    
    h1 {
        display:block;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 108px;
        color: $reddish;
        letter-spacing: 5px;
        
        @media screen and (max-width: $break-small) {
            font-size: 20px; 
        }
        
        @media screen and (max-width: $break-medium) {
            font-weight: 590;
            font-size: 78px;
            padding: 20px;
        }
    }
    
    h3 {
        display: inline;
        font-size: 23px;
        font-family: 'Indie Flower', cursive, 'sans-serif';
        color: #f8f8f8;
        font-weight: 550;
        margin-left: 10px;
        
        @media screen and (max-width: $break-small) {  
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            font-size: 20px;
            padding: 10px;       
        }     
    }
    
    .homepage_buttons {
        display: inline-block;
        margin-left: 80px;
        margin-top: 5px;
        
        @media screen and (max-width: $break-small) {
            display:block;
            margin-left: 0px;
            margin-top: 5px;
        }
        
        @media screen and (max-width: $break-medium) {
            margin-left: 0px;
            margin-top:5px;
            padding: 10px;          
        }
    }
    
    .homepage_buttons > span:nth-child(1) {
        font-size: 23px;
        color:  #f8f8f8;
        font-family: 'Indie Flower', cursive;
        
         @media screen and (max-width: $break-small) {  
        }
        
        @media screen and (max-width: $break-medium) {       
        }
    }
}


// -------------------------------------------------------------------------------------Sidebar Section------------------------------------------------------

.nav_menu {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.85);
    width: 200px;
    float: left;
    padding: 10px;
    text-align: right;
    z-index: 10;
    
    @media screen and (max-width: $break-small) {
        display:none;
    }
    
    @media screen and (max-width: $break-medium) {
        width: 100px;  
        }
    
    @media screen and (max-width: $break-large) { 
    }
    
    .main_logo {
        display: block;
        margin: 20px 5px;
        
        @media screen and (max-width: $break-medium) {
            display:none;  
        }        
    }
    
    #menu_options > li:nth-child(2) {
        font-family: 'Indie Flower', cursive;
        font-size: 24px;
        color: $grey ;
        font-weight: 580;
        
        span {
            margin-left: 0px; 
        }
        
        @media screen and (max-width: $break-medium) {
            font-size: 16px;
            margin-top: 20px;
            font-weight: 600;
            margin-left:0px;   
        }
    }
    
    #menu_options > li:nth-child(3) {
        @include nav_text;
        margin-top: 40px;
        color: $grey;
         &:hover {
             color: black;
             font-weight: bold;
        }
        
        @media screen and (max-width: $break-medium) {
            font-size:0px;
        }  
    }
    
    #menu_options > li:nth-child(4),li:nth-child(5),li:nth-child(6){
        @include nav_text;
        color: $grey;
        &:hover {
            color: black;
            font-weight: bold;  
        }
        
        @media screen and (max-width: $break-medium) {
            font-size:0px;
        }
    }
    
    .bottom_sidebar { 
        position: absolute;
        padding: 10px;
        bottom: 20px;
        left: 110px;
        
        @media screen and (max-width: $break-medium) {
                left: 55px;
            }
        
        li:first-child{
            display:block;
            padding-bottom: 10px;
            
            &:hover {
            }
        }
        
        li:nth-child(2) {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 18px;
            
            @media screen and (max-width: $break-medium) {
                font-size: 18px;
                margin-left:0px;
            } 
        }
    }
    
    .nav_buttons {
        margin-left: 20px;
    }
}

.active {
    width: 18px;
    height: 18px;
    background: url("../images/nav-buttons-s659d95dd08.png") -18px 0;
    
    //To be added in JavaScript. Temporary
   /* &:hover {
        background: url("../images/nav-buttons-s659d95dd08.png") -18px 0;
        
    }*/
    
}

.active_hp{
    background: url("../images/logo-s58c2fba883.png")  -190px 0;
}

//----------------------------------------------------------------------------- Resume Section ---------------------------------------------------------------

//--------------FlexBox Approach -----------

.resume_section {
    margin-left: 220px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    
    @media screen and (max-width: $break-medium) {
                margin-left: 120px;
            }
    
    @media screen and (max-width: $break-small) {
                margin-left: 10px;
            }
}

.section_1 {
    @include flex_box;
    justify-content: center;
    width: 100%;
    
    @media screen and (max-width: $break-small) {
        display: block;
    }
    
    @media screen and (max-width: $break-medium) {
        display: block;
    }
    
    .tech_skills {
        order: 1;
        @include resume_block;
        
        @media screen and (max-width: $break-small) {
                max-width: 300px;
            }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }

        img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: $reddish;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        .tech_table{
            margin: 10px 0px 20px 52px;
            min-width: 400px;
            
            @media screen and (max-width: $break-small) {
                font-size: 16px;
                margin: 2px 0px 2px 5px;
                min-width: 300px;
            }
            
            .javascript_hover, .css_hover, .adobe_hover {
                // Activate display on hover using JavaScript
                display: none;
                font-size: 16px;
                margin: 2px 15px 2px 2px;
                color: $grey;
                font-weight: 590;   
            }

            h4 {
                display: block;
                font-size: 18px;
                color: black;  
                padding: 10px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    font-size: 16px;
                }
            }
            
            .circle {
                display: inline-block;
                margin: 5px 15px 15px 5px;
                width: 12px;
                height: 12px;
                background: rgba(146, 0, 20, 0.6);
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
                border-radius: 20px;
                border: 1px solid;
                border-color: black;
                
                @media screen and (max-width: $break-small) {
                    width: 5px;
                    height: 5px;
                }
                
                &.empty {
                    background: inherit;  
                }  
            }  
        } 
    }
    
    .soft_skills {
        order: 3;
        @include resume_block;
        
        @media screen and (max-width: $break-small) {
                max-width: 300px;
            }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
        img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: #027304;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        .soft_table {
            margin: 10px 0px 20px 52px;
            min-width: 400px;
            @media screen and (max-width: $break-small) {
                margin: 2px 0px 2px 5px;
                min-width: 300px;
            }
            
            h4 {
                display: block;
                font-size: 18px;
                color: black;  
                padding: 10px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    font-size: 16px;
                    padding-top: 5px;
                }
            }
            
            .circle_1 {
                display: inline-block;
                margin: 5px 15px 15px 5px;
                width: 12px;
                height: 12px;
                background: rgba(2, 115, 4, 0.6);
                -moz-border-radius: 20px;
                -webkit-border-radius: 20px;
                border-radius: 20px;
                border: 1px solid;
                border-color: black;
                
                @media screen and (max-width: $break-small) {
                    width: 5px;
                    height: 5px;
                }
                
                &.empty {
                    background: inherit;
                    
                } 
            } 
        }
    }
    
    .special {
        order: 2;
        @include resume_block;
        letter-spacing: 0px;
        
        @media screen and (max-width: $break-small) {
            max-width: 300px;
                    
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
        .special_wrapper {
            min-width: 400px;
            
            @media screen and (max-width: $break-small) {
                min-width: 300px
            }  
        }
        
        img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 2px;
            }
        }
            
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: #210fac;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        .frontEnd {
            display: block;
            margin-top: 40px;
            margin-left: 40px;
            padding-bottom: 30px;
            max-width: 400px;
            border-bottom: 1px solid #b9b9b9;
            
             @media screen and (max-width: $break-small) {
                margin-top: 5px;
                margin-left: 5px;
                padding-bottom: 4px;
                max-width: 250px;
                 
             }
            
            img:nth-child(1){
                margin-top: 6px;
                margin-right: 30px;
                padding: 0px 5px 5px 5px;
                display: inline-block;
                float: left;        
            }
            
            h4 {
                display: block;
                font-size: 20px;
                color: black;
                font-weight: 600;
                margin: 15px 2px 5px 5px;
                padding: 5px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    margin-top: 25px;
                }
                
            }
            
            h6 {
                color: $grey;
                
                @media screen and (max-width: $break-small) {
                    display: none;
                }
            }
        }
        
        .design {
            display: block;
            margin-top: 30px;
            margin-left: 40px;
            padding-bottom: 30px;
            max-width: 400px;
            border-bottom: 1px solid #b9b9b9;
            
            @media screen and (max-width: $break-small) {
                margin-top: 5px;
                margin-left: 5px;
                padding-bottom: 4px;
                max-width: 250px; 
             }
            
            img:nth-child(1){
                margin-top: 6px;
                margin-right: 30px;
                padding: 0px 5px 5px 5px;
                display: inline-block;
                float: left;  
            }
            
            h4 {
                display: block;
                font-size: 20px;
                color: black;
                font-weight: 600;
                margin: 15px 2px 5px 5px;
                padding: 5px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    margin-bottom: 30px;
                }
            }
            
            h6 {
                color: $grey;
                
                @media screen and (max-width: $break-small) {
                    display: none;
                }
            }
        }
        
        .agile {
            display: block;
            margin-top: 30px;
            margin-left: 40px;
            padding-bottom: 30px;
            max-width: 400px;
            
            @media screen and (max-width: $break-small) {
                margin-top: 5px;
                margin-left: 5px;
                padding-bottom: 4px;
                max-width: 250px; 
             }

            img:nth-child(1){
                margin-top: 6px;
                margin-right: 30px;
                padding: 0px 5px 5px 5px;
                display: inline-block;
                float: left;
            }
            
            h4 {
                display: block;
                font-size: 20px;
                color: black;
                font-weight: 600;
                margin: 15px 2px 5px 5px;
                padding: 5px 5px 5px 2px;
                
                @media screen and (max-width: $break-small) {
                    margin-bottom: 20px;                    
                } 
            }
            
            h6 {
                color: $grey;
                
                @media screen and (max-width: $break-small) {
                    display: none;  
                }
            } 
        }
    }
    
    .work_exp {
        order: 4;
        @include resume_block;
        letter-spacing: 0px;
        
        @media screen and (max-width: $break-small) {
            max-width: 300px;
                    
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
        img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 2px;
                    
            }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: #daa520;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
            
        }
        
        .work_table {
            margin: 20px 20px 20px 50px;
            
            @media screen and (max-width: $break-small) {
                margin: 2px 2px 2px 5px;
            }

            .resaas {
                margin-bottom: 40px;
                margin-top: 40px;
                
                @media screen and (max-width: $break-small) {
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                
                img {
                display: block;
                margin: 0px 15px 5px 0px;
                float: left;
                }
            }

            .resaas_text {
                h6 {
                font-size: 14px;
                color: black;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 10px;
                padding-top: 8px;
                }
            
                h3 {
                    font-size: 22px;
                    color: black;
                    font-weight: 500; 
                    padding-bottom: 5px;
                    margin-left: 25px;

                    @media screen and (max-width: $break-small) {
                        font-size: 18px;
                    }  
                }

                h4 {
                    font-size: 18px;
                    color: $grey;
                    font-weight: 500;
                    margin-left: 135px;

                     @media screen and (max-width: $break-small) {
                        font-size: 16px;
                    }
                }
                
            }
            
            .netgear {
                margin-bottom: 50px;
                margin-top: 50px;
                
                @media screen and (max-width: $break-small) {
                    margin-bottom: 30px;
                    margin-top: 10px;  
                }
                
                img {
                    display: block;
                    margin: 0px 35px 5px 0px;
                    float: left;
                }
            }
            
            .netgear_text {
                
                h6 {
                font-size: 14px;
                color: black;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 10px;
                padding-top: 8px;
               
                }   
            
                h3 {
                    font-size: 22px;
                    color: black;
                    font-weight: 500; 
                    padding-bottom: 5px;
                    margin-left: 25px;

                    @media screen and (max-width: $break-small) {
                        font-size: 18px;

                    }

                }

                h4 {
                    font-size: 18px;
                    color: $grey;
                    font-weight: 500;
                    margin-left: 105px;

                    @media screen and (max-width: $break-small) {
                        font-size: 16px;

                    }
                }
            }
        }
    }
    
    .vol_exp {
        order: 5;
        @include resume_block;
        letter-spacing: 0px;
        
        @media screen and (max-width: $break-small) {
            max-width: 300px;           
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
        img:nth-child(1){
            margin-left: 20px;
            margin-top: 20px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 5px;
                margin-top: 5px;
            }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 5px;
            color: #00c0ff;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 15px;
                margin-top: 10px;
            }
            
        }
        
        .vol_table {
            margin: 20px 20px 20px 50px;
            padding-bottom: 40px;
            border-left: 1px solid black;
            
            @media screen and (max-width: $break-small) {
                margin: 5px 5px 5px 10px;
                
            }
            
            .solar_text {
                margin: 40px 10px 20px 20px;
                
                img {
                    float: right;
                    margin: 0px 0px 0px 0px;
                }
                
                h6 {
                font-size: 14px;
                color: black;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 10px;
                padding-top: 8px;
                
                }
            
                h3 {
                    font-size: 20px;
                    color: black;
                    font-weight: 500; 
                    padding-bottom: 5px;
                    margin-left: 0px;

                }

                h4 {
                    font-size: 16px;
                    color: $grey;
                    font-weight: 500;
                    margin-left: 0px;
                }
                
            }
            
            .silicon {
                margin: 50px 10px 0px 20px;
                
                img {
                    float: right;
                    margin: 0px 0px 0px 0px;    
                }
                
                h6 {
                font-size: 14px;
                color: black;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 10px;
                padding-top: 8px;
                
                }
            
                h3 {
                    font-size: 20px;
                    color: black;
                    font-weight: 500; 
                    padding-bottom: 5px;
                    margin-left: 0px;

                }

                h4 {
                    font-size: 16px;
                    color: $grey;
                    font-weight: 500;
                    margin-left: 0px;
                } 
            }  
        }
    }
    
    .hobbies {
        order: 6;
        @include resume_block;
        letter-spacing: 0px;
        
        @media screen and (max-width: $break-small) {
            max-width: 300px;
        }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }

        &:hover {
            border: none;
            @include transition-duration(1s);
            @include box-shadow(#b7b4b4 2px 2px 90px);
        }
        
       img:nth-child(1){
            margin-left: 50px;
            margin-top: 20px;
           
           @media screen and (max-width: $break-small) {
               margin-left: 5px;
               margin-top: 2px;
           }
        }
        
        h2 {
            font-size: 52px;
            margin-left: 50px;
            margin-top: 10px;
            color: #13dcd0;
            
            @media screen and (max-width: $break-small) {
                font-size: 32px;
                margin-left: 5px;
                margin-top: 2px;
            }
        }
        
        .first_section {
            font-size: 18px;
            font-weight: 550;
            margin-left: 40px;
            margin-top: 10px;
            margin-right: 300px;
            min-width: 200px;
            padding: 10px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 20px;
                margin-top: 10px;
                margin-right: 120px;
                min-width: 100px;
            }
            
            li {
                text-align: right;
               margin: 10px 0px 0px 0px; 
            }
        }
        
        .second_section {
            font-size: 18px;
            font-weight: 550;
            margin-left: 250px;
            margin-top: 10px;
            padding: 10px;
            
            @media screen and (max-width: $break-small) {
                margin-left: 130px;
                margin-top: 10px;
                min-width: 100px;
            }
            
            li {
               margin: 0px 0px 10px 0px; 
            } 
        }
    }  
}

//----------------------------------------------------------------------------- Work Section ---------------------------------------------------------------

.alt-section {
    margin-left: 220px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    background: #e5eaee; //change later
    
    
    @media screen and (max-width: $break-medium) {
                margin-left: 120px;
            }
    
    @media screen and (max-width: $break-small) {
                margin-left: 30px;
            }
}

#work_container {
    margin-left: 60px;
    
     @media screen and (max-width: $break-medium) {
                margin-left: 70px;
            }
    
    @media screen and (max-width: $break-small) {
                margin-left: 5px;
            }
}

.work-section-1 {
    @include flex_box;
    justify-content: center;
    width: 100%;
    
    @media screen and (max-width: $break-small) {
        display: block;
    }
    
    @media screen and (max-width: $break-medium) {
        display: block;
    }
    
    .proj-1 {
        
        order: 1;
        @include work_block;
        
        @media screen and (max-width: $break-small) {
                max-width: 300px;
            }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            
        }  
    }
    
    .proj-2 {
        order: 2;
        @include work_block;
        
        @media screen and (max-width: $break-small) {
                max-width: 300px;
            }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            
        }  
    }
    
    .proj-3 {
        order: 2;
        @include work_block;
        
        @media screen and (max-width: $break-small) {
                max-width: 300px;
            }
        
        @media screen and (max-width: $break-medium) {
            display: block;
            margin-left: 10%;
        }
        
        &:hover {
            
        }  
    }
}

