<div class="readme">
<h3>Introduction:</h3>
<p>&bull; University of British Columbia - Final year capstone project in collaboration with Patternly Analytics, INC. <br />
&bull; Task is to create a web application for a user to set up alerts and visualize various trends in the financial market.<br />
&bull; Spearheaded full stack development of the web application to deliver the first prototype by early December.</p>
<h3>Technologies:</h3>
<ul>
    <li>&bull; HTML</li>
    <li>&bull; NODE JS</li>
    <li>&bull; Highcharts API</li>
    <li>&bull; Java</li>
    <li>&bull; SQL & MongoDB</li>
</ul>

<h3>Purpose:</h3>
<ul>
    <li>&bull; Work with a start-up (www.marketmemory.com) to solve a real world problem.</li>
    <li>&bull; Work in a team to build a web application that satisfies the client's requirements.</li>
    <li>&bull; Exceed expectations of the professor and the client with the Capstone project.</li>
</ul>

<h3>Procedure:</h3>
<ul>
    <li>1. Browse to <a href="http://memoryalertsystemubc.herokuapp.com" target="_blank">Market Memory Alert System</a></li>
</ul>
<h3>Timestamp:</h3>
<p><strong>September 2015 – Present</strong></p>
</div>