<button type="button" class="onImages" onClick="onImage()">Show Images</button>
<button type="button" class="offImages" onClick="offImage()">Hide Images</button>
<ul class="carousel">
    <li><img src="../images/work/proj-3/mainscreen.png" ></li>
</ul>
<div class="readme">
<h3>Introduction:</h3>
<p>The on-boarding process during my internship at <a href="www.resaas.com" target="_blank">The Real Estate Social Network</a> required me to ask a question to all employees and send out the results. For this purpose, instead of sending out a plain text email, I created an application powered by AngularJs and hosted in to an Azure server. <br /><br />
Click on the following link to view the application: <a href="http://resaashappapp.azurewebsites.net/" target="_blank">RESAAS - On Boarding</a> <br /><br />
Moving forward, I will turn this application into a more sophisticated common repository for answers to all on-boarding questions at The Real Estate Social Network. <br /><br /> <a href="https://bitbucket.org/utkarshsaxena/resaas-happapp" target="_blank">View in Bitbucket</a> <br /><br /></p>
<h3>Technologies:</h3>
<ul>
    <li>&bull; HTML</li>
    <li>&bull; CSS/Bootstrap</li>
    <li>&bull; AngularJs</li>
    <li>&bull; Firebase</li>
</ul>

<h3>Purpose:</h3>
<ul>
    <li>&bull; Learn and apply AngularJs framework to create an application.</li>
    <li>&bull; Integrate the Firebase API to make the application run in realtime.</li>
</ul>

<h3>Procedure:</h3>
<ul>
    <li>1. Browse to <a href="http://resaashappapp.azurewebsites.net/" target="_blank">RESAAS - On Boarding</a></li>
</ul>
<h3>Timestamp:</h3>
<p><strong>January 2015 – Present</strong></p>
</div>

<script>$('.carousel').hide();
    $('.offImages').hide();</script>