<div class="readme">
<h3>Introduction:</h3>
<p>This is a website I am creating for a client - Dr. Kurt Grimm. He is a Principal and Founder, Kingfisher Research and a UBC professor. Click on the following link to view the website: <a href="http://www.drkurtgrimm.com" target="_blank">Dr.KurtGrimm</a> <br /><br />
</p>
<h3>Technologies:</h3>
<ul>
    <li>&bull; HTML</li>
    <li>&bull; CSS/SASS</li>
    <li>&bull; Javascript</li>
    <li>&bull; Adobe Photoshop</li>
    <li>&bull; Invision</li>
</ul>

<h3>Purpose:</h3>
<ul>
    <li>&bull; This is an exercise in creating a project based on client requirements and to gain experience in professionalism and working with clients.</li>
    <li>&bull; Exceed client's expectations.</li>
</ul>

<h3>Procedure:</h3>
<ul>
    <li>1. Browse to <a href="http://www.drkurtgrimm.com" target="_blank">Website</a></li>
</ul>
<h3>Timestamp:</h3>
<p><strong>October, 2015 – Present</strong></p>
</div>