<div class="readme">
<h3>Introduction:</h3>
<p>This is a platform for young motivated individuals to offer products and service to an audience looking for young talent with fresh (and hopefully inexpensive) ideas. This platform will be created such that it can easily change with the needs of the customers.<br /><br />
Click on the following link to view the application: <a href="http://workdeskinc.heroku.com" target="_blank">Work Desk, Inc</a> <br /><br />
Moving forward, I will build a team on my own to offer this platform to benefit user/students<br /><br /> <a href="https://bitbucket.org/utkarshsaxena/work-desk-inc." target="_blank">View in Bitbucket</a> <br /><br /></p>
<h3>Technologies:</h3>
<ul>
    <li>&bull; HTML/Swig Templating</li>
    <li>&bull; CSS/SASS</li>
    <li>&bull; AngularJs</li>
    <li>&bull; NodeJs/ExpressJs</li>
    <li>&bull; MongoDB</li>
    <li>&bull; ReactJS</li>
    <li>&bull; Browserify</li>
    <li>&bull; Grunt</li>
    <li>&bull; Moltin API</li>
</ul>

<h3>Purpose:</h3>
<ul>
    <li>&bull; Train to become a full-stack JavaScript developer.</li>
    <li>&bull; Get out of my comfort zone to include audience into my design process/journey. Work with criticism and feedback. Create a facebook page for this purpose where I post my progress.</li>
</ul>

<h3>Procedure:</h3>
<ul>
    <li>1. Browse to <a href="http://workdeskinc.heroku.com" target="_blank">Work Desk, Inc.</a></li>
</ul>
<h3>Timestamp:</h3>
<p><strong>May, 2015 – August, 2015</strong></p>
</div>